{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='bower_components/morris.js/morris.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
{{clientCount}} Clients
{%  endblock %}

{% block bodyPanel %}

			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							Client Model Types
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<canvas id="model-bar-chart" />
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							Top 10 Required Patches
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<canvas id="patch-bar-chart" />
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							OS Version Breakdown
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<canvas id="osver-bar-chart" />
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							Clients Needing Reboot
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<canvas id="reboot-pie-chart" />
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							Client Checkin Status
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<canvas id="clientstatus-bar-chart" />
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							Agent Versions
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<canvas id="agents-pie-chart" />
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->


{% endblock %}

{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-table-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/col-resizable/colResizable-1.6.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">

	<script src="{{ url_for('static', filename='bower_components/raphael/raphael.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/morris.js/morris.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/chart.js/dist/Chart.bundle.min.js') }}"></script>


	<script>

	var ctx = document.getElementById("reboot-pie-chart");
	var myChart = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: [
				{% for item in rebootData %}
					"{{item[0]}}",
				{% endfor %}
			],
			datasets: [{
				label: '# of Votes',
				data: [
					{% for item in rebootData %}
						{{item[1]}},
					{% endfor %}
				],
				backgroundColor: [
					'#FF0000',
					'#0EAC2B'
				],

				borderWidth: 1
			}]
		},
		options: {
			responsive: true
		}
	});

	var ctx = document.getElementById("model-bar-chart");
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: [
				{% for item in modelData %}
					"{{item[0]}}",
				{% endfor %}
			],
			datasets: [{
				label: "Mac Models",
				data: [
					{% for item in modelData %}
						"{{item[1]}}",
					{% endfor %}
				],
				backgroundColor: [
					{% for item in modelData %}
					chartColor(),
					{% endfor %}
				],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			title: {
				display: false,
				text: 'Custom Chart Title'
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});

	var ctx = document.getElementById("patch-bar-chart");
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: [
				{% for item in patchData %}
					"{{item[0]}}",
				{% endfor %}
			],
			datasets: [{
				label: "Required Patch",
				data: [
					{% for item in patchData %}
						"{{item[1]}}",
					{% endfor %}
				],
				backgroundColor: [
					{% for item in patchData %}
					chartColor(),
					{% endfor %}
				],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			title: {
				display: false,
				text: 'Custom Chart Title'
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});

	var ctxOSVer = document.getElementById("osver-bar-chart");
	var myChartOsVer = new Chart(ctxOSVer, {
		type: 'bar',
		data: {
			labels: [
				{% for item in osData %}
					"{{item[0]}}",
				{% endfor %}
			],
			datasets: [{
				label: "OS Versions",
				data: [
					{% for item in osData %}
						"{{item[1]}}",
					{% endfor %}
				],
				backgroundColor: [
					{% for item in osData %}
					chartColor(),
					{% endfor %}
				],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			title: {
				display: false,
				text: 'Custom Chart Title'
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});

	ctxOSVer.onclick = function (evt)
	{
		var activePoints = myChartOsVer.getElementsAtEvent(evt);
		var chartData = activePoints[0]['_chart'].config.data;
		var idx = activePoints[0]['_index'];

		var label = chartData.labels[idx];
		var value = chartData.datasets[0].data[idx];

		var url = "http://example.com/?label=" + label + "&value=" + value;
	};

	function graphClickEventOSVer(event)
	{
		var activePoints = myNewChart.getElementsAtEvent(event);
		var chartData = activePoints[0]['_chart'].config.data;
		var idx = activePoints[0]['_index'];

		var label = chartData.labels[idx];
		var value = chartData.datasets[0].data[idx];

		var url = "http://example.com/?label=" + label + "&value=" + value;
		alert(url);
	}

	var ctx = document.getElementById("clientstatus-bar-chart");
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: [ 'Normal', 'Warning', 'Alert' ],
			datasets: [{
				label: "Checkin Status",
				data: [ {{clientStatus[0]}}, {{clientStatus[1]}}, {{clientStatus[2]}}],
				backgroundColor: ['green', 'yellow', 'red'],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			title: {
				display: false,
				text: 'Custom Chart Title'
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});

	var ctx = document.getElementById("agents-pie-chart");
	var myChart = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: [
				{% for item in agentVers %}
					"{{item[0]}}",
				{% endfor %}
			],
			datasets: [{
				label: 'Agent Versions',
				data: [
					{% for item in agentVers %}
						{{item[1]}},
					{% endfor %}
				],
				backgroundColor: [
					{% for item in agentVers %}
						chartColor(),
					{% endfor %}
				],

				borderWidth: 1
			}]
		},
		options: {
			responsive: true
		}
	});


	</script>

{% endblock %}
