<!DOCTYPE html>
{% block styles %}
	<!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static', filename='yarn_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='yarn_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

	<link href="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
	<style>
		#patchesTable > tbody > tr > td {
			height:28px;
			padding:4px;
			border-top: 2px;
		}
	</style>
{%  endblock %}

{% block body %}
	<div>
		<table id="logsTable" class="table table-condensed" data-toolbar="#logsToolbar" data-show-export="true">
			<div id="logsToolbar">
				<button id="saveGroupDataButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i></button>
			</div>
		</table>
	</div>
	<div id="overlay">
		<img id="overlayImg" src="{{ url_for('static', filename='img/35.gif')}}" style="display:block;margin:auto;padding-top:10%;" />
		<h1 style="text-align: center; color: white; ">Saving...</h1>
	</div>
{% endblock %}


{% block javascript %}
	<!-- jQuery -->
	<script src="{{ url_for('static', filename='yarn_components/jquery/dist/jquery.min.js') }}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="{{ url_for('static', filename='yarn_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/colresizable/colResizable-1.6.min.js') }}"></script>

	<script>
	$( document ).ready(function()
	{
		$('#logsTable').bootstrapTable(
		{
            pageSize: 20,
			pageList: [20, 30, 40, 50, 100, 200],
			pagination: true,
			sidePagination: "client",
            striped: true,
            sortable: true,
            search: true,
            columns: [
			{% for col in columns %}
            {
                field: '{{col[0]}}',
                title: '{{col[1]}}',
                {% if col[0] == 'date' %}
                width: 160,
                {% elif col[0] == 'app' or col[0]== 'level' %}
                width: 80,
                {% endif %}

                {% if col[0] == 'text' %}
                sortable: false,
                {% else %}
                sortable: true,
                {% endif %}
            },
            {% endfor %}
			],
			data: [
			    {% for d in data %}
			    {
			        {% for col in columns %}
							{{col[0]}} : `{{ d[col[0]] }}`,
					{% endfor %}
				},
			    {% endfor %}
			]
        });

	});
	</script>
{% endblock %}
