<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>gov.llnl.mp.admin.helper</string>
	<key>MachServices</key>
	<dict>
		<key>gov.llnl.mp.admin.helper</key>
		<true/>
	</dict>
</dict>
</plist>
