{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-table-editable.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
	Software Packages
{%  endblock %}

{% block bodyPanel %}

	<table id="table" class="table table-condensed" data-toolbar="#toolbar">
		<div id="toolbar">
			{% if session.role[0] == 1 %}
			<button id="delButton" type="button" class="btn btn-default" title="Delete Package"><i class="glyphicon glyphicon-trash"></i></button>
			<button id="addButton" type="button" class="btn btn-default" title="New Package"><i class="glyphicon glyphicon-plus"></i></button>
			<button id="dupButton" type="button" class="btn btn-default" title="Duplicate Package"><i class="glyphicon glyphicon-duplicate"></i></button>
			<button id="taskButton" type="button" class="btn btn-default" title="Generate Task from Package"><i class="glyphicon glyphicon-export"></i></button>
			{% endif %}
		</div>
	</table>

{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-table-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/col-resizable/colResizable-1.6.min.js') }}"></script>
	<script>

	function operateFormatter(value, row, index)
	{
		var htmlData = [];
		htmlData.push('<table><tr><td>')
		{% if session.role[0] == 1 %}
		htmlData.push('<a class="edit" href="javascript:void(0)" title="Edit Package">');
		htmlData.push('<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>');
		{% else %}
		htmlData.push('<a class="edit" href="javascript:void(0)" title="Package Data">');
		htmlData.push('<i class="fa fa-search fa-lg" aria-hidden="true"></i>');
		{% endif %}
		htmlData.push('</a>');
		htmlData.push('</td><td>');
		htmlData.push('<a class="download" href="/mp-content' + row['sw_url'] + '" title="Download Package" target=_blank>');
		htmlData.push('<i class="fa fa-download fa-lg"></i></a>');
		htmlData.push('</td></tr></table>');
		return htmlData.join('');
	}

	window.operateEvents = {
		'click .edit': function (e, value, row, index)
		{
			$('#myContent').remove();
			$('#modaliFrame').remove();

			/* New Content */
			var _url = "/software/package/edit/" + row['suuid'];
			var innerHTML = '<iframe src="' + _url + '" id="modaliFrame"' +
			' frameborder="0" allowtransparency="true"' +
			' style="width: 98%; height: 98%; position: absolute"></iframe>';

			/ * Show Modal Window */
			$('#modalTitle').html('Edit Software Package - ' + row['sName']);
			$('#modalCancelButton').hide();
			$('#modalSaveButton').hide();
			$('#modalBody').html(innerHTML);
			$('#modalBody').css({'height':'770px'});
			$('#modalDialog').addClass("modal-wide");
			$('#modalDialog').modal('show');
		}
	};

	var _cols = [{
					field: 'state',
					checkbox: true,
					rowspan: 1,
					align: 'center',
					valign: 'middle',
					width: 40,
					{% if session.role[0] != 1 %}
					visible: false,
					{% endif %}
				},
					{
					field: 'operate',
					title: '',
					align: 'center',
					events: operateEvents,
					formatter: operateFormatter,
					width: 100,
				},];

	_cols.push.apply(_cols, {{data["columns"] | tojson}});
	var _rows = {{data["rows"] | tojson}};

	$( document ).ready(function()
	{
		$('#table').bootstrapTable(
		{
			striped: true,
			pagination: true,
			sidePagination: 'client',
			pageList: ['10', '20', '50', '100', 'All'],
			search: true,
			showRefresh: false,
			resizable: true,
			sortable: true,
			showColumns: false,
			icons: {
				refresh: 'fa fa-refresh',
				toggle: 'fa fa-th-list',
				columns: 'fa fa-columns',
				detailOpen: 'glyphicon glyphicon-info-sign',
				detailClose: 'glyphicon glyphicon-minus-sign'
			},
			idField: 'suuid',
			columns: _cols,
			data: _rows
		});
	});

	var $table = $('#table'), $delBut = $('#delButton'), $addBut = $('#addButton'), $dupBut = $('#dupButton'), $tskBut = $('#taskButton'), $expBut = $('#exportButton'), $impBut = $('#importButton');
	$(function () {
		$delBut.click(function ()
		{
			{% if session.role[0] == 1 %}
			var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
				return row.suuid;
			});
			var name = $.map($table.bootstrapTable('getSelections'), function (row) {
				return row.sName;
			});

			if (confirm('Are you sure to delete (' + name +') ?'))
			{
				$.get( "/software/package/delete/" + ids).done(function(data)
				{
					var result = JSON.parse(data);
					if (result.error == 0) {
						$('#table').bootstrapTable('remove', {
							field: 'suuid',
							values: ids
						});
					} else {
						$('#myContent').remove();
						$('#modaliFrame').remove();
						$('#modalDialog').removeClass("modal-wide");

						$('#modalSaveButton').hide();
						$('#modalCancelButton').html('Close');
						$('#modalTitle').html('Error, Removing Software Package');
						$('#modalBody').html('Delete item error!');
						$('#modalBody').css({'height':'200px'});
						$('#modalHeader').addClass('panel-heading');
						$('#modalContent').addClass('panel-danger');
						$('#modalDialog').modal('show');
					}
				});
			}
			{% endif %}
		});

		$addBut.click(function ()
		{
			{% if session.role[0] == 1 %}
			$('#myContent').remove();
			$('#modaliFrame').remove();

			/* New Content */
			var _url = "/software/package/add";
			var innerHTML = '<iframe src="' + _url + '" id="modaliFrame"' +
			' frameborder="0" allowtransparency="true"' +
			' style="width: 98%; height: 98%; position: absolute"></iframe>';

			/ * Show Modal Window */
			$('#modalTitle').html('New Software Package');
			$('#modalCancelButton').hide();
			$('#modalSaveButton').hide();
			$('#modalBody').html(innerHTML);
			$('#modalBody').css({'height':'770px'});
			$('#modalDialog').addClass("modal-wide");
			$('#modalDialog').modal('show');
			{% endif %}
		});

		$dupBut.click(function ()
		{
			{% if session.role[0] == 1 %}
			var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
				return row.suuid;
			});
			var names = $.map($table.bootstrapTable('getSelections'), function (row) {
				return row.sName;
			});

			if (ids.length == 0) {
				alert("Please choose a package to duplicate.")
				return;
			} else if (ids.length > 1) {
				alert("Please choose only 1 package to duplicate.")
				return;
			}

			if (confirm('Are you sure to duplicate (' + names +') ?'))
			{
				$.get( "/software/package/duplicate/" + ids).done(function(data)
				{
					var result = JSON.parse(data);

					if (result.error == 0) {
						alert("Software package was duplicated successfully.")
						return;
					} else {
						alert("Error, software package was not duplicated.")
						return;
					}
				});
			}
			{% endif %}
		});

		$tskBut.click(function ()
		{
			{% if session.role[0] == 1 %}
			var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
				return row.suuid;
			});

			var names = $.map($table.bootstrapTable('getSelections'), function (row) {
				return row.sName;
			});

			if (ids.length == 0) {
				alert("Please choose a package to generate a task for.")
				return;
			} else if (ids.length > 1) {
				alert("Please choose only 1 package.")
				return;
			}

			if (confirm('Are you sure to generate a task for (' + names +') ?'))
			{
				$.post( "/software/task/generate/" + ids).done(function(data)
				{
					var result = JSON.parse(data);

					if (result.error == 0) {
						alert("Software task was generated successfully.")
						return;
					} else {
						alert("Error, software task was not generated.")
						return;
					}
				});
			}
			{% endif %}
		});

		$expBut.click(function ()
		{
			alert("Export Called, not done!");
		});

		$impBut.click(function ()
		{
			alert("Import Called, not done!");
		});
	});

	function closeModal() {
		$("#modalDialog").modal("hide");
	}
	</script>
{% endblock %}
