<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>gov.llnl.mp.sus.sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/MacPatch/Server/conf/scripts/MPSUSPatchSync.py</string>
		<string>--config</string>
		<string>/opt/MacPatch/Server/etc/patchloader.json</string>
	</array>
	<key>StartInterval</key>
	<integer>28800</integer>
	<key>ServiceDescription</key>
	<string>MacPatch Apple Patches Downloader</string>
	<key>StandardOutPath</key>
	<string>/opt/MacPatch/Server/logs/MPSUSPatchSync_stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/opt/MacPatch/Server/logs/MPSUSPatchSync_stderr.log</string>
</dict>
</plist>
