<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>gov.llnl.mp.sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/MacPatch/Server/conf/scripts/MPSyncContent.py</string>
	</array>
	<key>ServiceDescription</key>
	<string>MacPatch Content Sync Script</string>
	<key>StandardErrorPath</key>
	<string>/opt/MacPatch/Server/logs/mp_sync_stdout.log</string>
	<key>StandardOutPath</key>
	<string>/opt/MacPatch/Server/logs/mp_sync_stdout.log</string>
	<key>StartInterval</key>
	<integer>1800</integer>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
