<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>gov.llnl.mp.reposado.sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/MacPatch/Server/Reposado/conf/repo_sync</string>
	</array>
	<key>StartInterval</key>
	<integer>28800</integer>
	<key>ServiceDescription</key>
	<string>MacPatch Reposado Content Sync</string>
	<key>StandardOutPath</key>
	<string>/opt/MacPatch/ServerConfig/logs/RepoSync_stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/opt/MacPatch/ServerConfig/logs/RepoSync_stderr.log</string>
</dict>
</plist>
