# Xcode
.DS_Store
*/build/*
# profile
*.moved-aside
DerivedData
.idea/
*.hmap 
*/_notes/*
dwsync.xml
*/no_sync/*
*/Build/*
*/xcuserdata/*
*.xcuserstate
*.xcuserdatad
*Dev.sh
MacPatch/openssl-xcode/openssl/libcrypto.a
MacPatch/openssl-xcode/openssl/libssl.a
MacPatch/openssl-xcode/openssl/crypto/buildinf.h
