{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
Client Groups
{%  endblock %}

{% block bodyPanel %}
	<table id="table" data-toolbar="#toolbar" data-show-export="true">
		<div id="toolbar">
			<button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
		</div>
	</table>
{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/col-resizable/colResizable-1.6.min.js') }}"></script>
	<script>

	var gRights = [];
	{% for r in rights %}
		gRights.push("{{r}}");
	{% endfor %}

	$( document ).ready(function()
	{
		$('#table').bootstrapTable(
		{
			striped: true,
			pagination: true,
			sidePagination: 'client',
			pageList: ['10', '25', '50', '100', 'All'],
			search: true,
			showRefresh: false,
			resizable: false,
			sortable: true,
			showColumns: false,
			idField: 'group_id',
			sortName: 'count',
			sortOrder: 'desc',
			icons: {
				refresh: 'fa fa-refresh',
				toggle: 'fa fa-th-list',
				columns: 'fa fa-columns',
				detailOpen: 'glyphicon glyphicon-info-sign',
				detailClose: 'glyphicon glyphicon-minus-sign'
			},
			columns: [
			{
				field: 'operate',
				title: '',
				align: 'center',
				events: operateEvents,
				formatter: operateFormatter
			},
			{% for col in columns %}
			{
				field: '{{col.name}}',
				title: '{{col.info}}',
				{% if col.name ==  'rid' or  col.name ==  'group_id' %}
				visible: false,
				{% endif %}
				sortable: true
			},
			{% endfor %}
			{
				field: 'count',
				title: 'No. Clients',
				sortable: true
			},
			],
			data: [
			{% for g in data %}
			{
				{% for col in columns %}
					{{col.name}}: '{{g[col.name]}}',
				{% endfor %}

				{% if counts|length >= 1 %}
					{% for count in counts %}
						{% if count['group_id'] == g['group_id'] %}
							'count': {{count['total']}},
						{% endif %}
					{% endfor %}
				{% endif %}
			},
			{% endfor %}
			]
		});
	});

	function operateFormatter(value, row, index)
	{
		var _innerHtml = [''];
		if (gRights.length <= 0) {
			if (row.group_name == 'Default') {
					_innerHtml = ['<a class="edit" href="javascript:void(0)" title="Edit">',
								  '<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>',
								  '</a>&nbsp;'];
			}
		} else {
			for (i = 0; i < gRights.length; i++) {
				//if (gRights[i] == row.group_id || row.group_name == 'Default') {
					_innerHtml = ['<a class="edit" href="javascript:void(0)" title="Edit">',
								  '<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>',
								  '</a>&nbsp;'];
				//}
			}
		}
		return _innerHtml.join('');
	}

	window.operateEvents = {
		'click .edit': function (e, value, row, index)
		{
			var _url = '/clients/group/' + row.group_id
			$(location).attr('href',_url);
		},
		'click .description': function (e, value, row, index) {
			alert('You click description action, row: ' + JSON.stringify(row));
		}
	};

	var $table = $('#table'), $delButton = $('#delButton'), $addButton = $('#addButton');
	$(function () {
		$delButton.click(function ()
		{
			var ids = $.map($table.bootstrapTable('getSelections'), function (row) {

				return row.puuid;
			});
			$table.bootstrapTable('remove', {
				field: 'puuid',
				values: ids
			});
		});

		$addButton.click(function ()
		{
			$.get( "/clients/group/add").done(function(data) {
				$('#modalBody').html(data);
				$('#modalBody').css({'height':'200px'});
				$('#modalDialog').modal('show');
			});
		});
	});
	</script>
{% endblock %}
