body {
    /*line-height:14px;*/
    font-size: 13px;
    background: #fff;
    font-family:Verdana, Arial, Helvetica, sans-serif, Tahoma;    
    margin:0pt;
    cursor:default;
}

html {
    background-color: #ffffff;
}

h2 {
    /*! INSERT_ICON_CODE !*/
    font-weight: bold;
    color: #000000;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    /*color:#838383;*/
}

/******* CONTENT *******/

#hs_mainwrapper
{
    width:90%;    
    margin:10px;
}

#hs_head
{
    width:100%;
    height:120px;
    float:left;
    margin:10px;
    margin-bottom:20px;
}

#hs_logo
{
    width:128px;
    height:128px;
    padding:0;
    background-repeat: no-repeat;
    background-position: center center; 
    background-image:url(../images/mpserveradmin_128.png);
    float:left;
    margin-right:10px;
    
}

#hs_headtext
{
    float:left;
    padding:0;
    margin:0;
    padding:10px;
    padding-top:26px;
}

#hs_headtext h2
{
    font-size:22px;
    font-weight:bold;
    padding:0;
    float:left;
    width:100%;
    margin: 0;
    margin-top: 10px;
}

#hs_headtext p
{
    font-size:12px;
    float:left;
    padding-top:00px;
    width:100%;
}

/****** Subpages menu ******/

#hs_subpagesmenu p
{
    float:left;
    width:60%;
    text-align:justify;
}

#hs_subpagesmenu a
{
    text-decoration:none;
    color:#838383;
}

#hs_subpagesmenu ul {
    text-decoration:none;
    list-style-type:none;
    padding:0;
    margin:0;
    margin-top:10px;
}

#hs_subpagesmenu ul img{
    float:left;
    margin:10px;
    margin-left:0;
}

#hs_subpagesmenu ul li .hs_subpagesmenu_text
{
    border-bottom:1px solid #ccc;
    cursor:pointer;
    color:#333;
    margin:0;
    width:98%;
    float:left;
}

#hs_subpagesmenu ul li:last-child .hs_subpagesmenu_text
{
    border-bottom:none;
}

#hs_subpagesmenu ul li .hs_subpagesmenu_text a
{
    color:#00e;
    float:right;
}

#hs_subpagesmenu ul li .hs_subpagesmenu_text a:hover
{
    color:#333;
}

#hs_subpagesmenu ul li .hs_subpagesmenu_text:hover
{
    background-color:#F7F7F7;
    color:#000;
}

#hs_subpagesmenu .hs_subpagesmenu_text
{
    padding:8px;
}

/******* RELATED TOPICS *******/

#hs_relatedtopics {
    padding-top:15px;
    float:left;
    width:100%;
}

#hs_relatedtopics span {
    font-weight:bold;
    color:#838383;
}

#hs_relatedtopics ul {
    margin:10px;
    margin-left:0;
    padding-left:0px;
    list-style-type:none;
}

#hs_relatedtopics ul li {
    padding:0px;
    padding-left:0;
    margin:0;
}

#hs_relatedtopics a {
    color: #00e;
}

/******* Table of Contents *******/

.hs_toc_leftfloat
{
	float:left;
}

#hs_toc_leftpan
{
	width:20%;
	height:500px;	
	margin:10px;
	padding:0;
	border:1px solid #ccc;
}

#hs_toc_leftpan h3
{
	margin:0;
	
	height:15px;
	background-image:url(../images/table_head.png);
	color:#000;
	padding:5px;
	border-bottom:1px solid #ccc;
	font-weight:600;
	font:14px "arial";
}

#hs_toc_leftpan ol.tree
{
	padding: 0 0 0 30px;
	
	margin:0;
	font-weight:600;
}

#hs_toc_leftpan li 
{ 
    position: relative; 
    margin-left: -15px;
    list-style: none;
    width:260px;
}

#hs_toc_leftpan li.file
{
    
}

#hs_toc_leftpan li.file a
{
    background: url(document.png) 0 0 no-repeat;
    color: #333;
    padding-left: 21px;
    text-decoration: none;
    display: block;
    
}

#hs_toc_leftpan li input
{
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}

#hs_toc_leftpan li input + ol
{
    background: url(../images/toggle-small-expand.png) 40px 0 no-repeat;
    margin: -1.09em 0 0 -44px; /* 15px */
    height: 1.2em;
	background-position:14% 200%; 
}

#hs_toc_leftpan li input + ol > li 
{ 
    display: none; margin-left: -14px !important; 
    padding-left: 1px; 
}

#hs_toc_leftpan li label
{    
    cursor: pointer;
    display: block;
    padding-left: 20px;
    
}

#hs_toc_leftpan li input:checked + ol
{
    background: url(../images/toggle-small.png) 40px 2px no-repeat;
    margin: -1.35em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
	
}


#hs_toc_leftpan li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
#hs_toc_leftpan li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

iframe
{
    width:75%;
}
