{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
	Accounts
{%  endblock %}

{% block bodyPanel %}

	<table id="table" data-toolbar="#toolbar" class="table table-condensed" data-show-export="true">
		<div id="toolbar">
			{% if session.role[0] == 1 %}
			<button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
			<button id="delButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
			{% endif %}
		</div>
	</table>

{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/colresizable/colResizable-1.6.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
	<script>
	$( document ).ready(function()
	{
		$('#table').bootstrapTable(
		{
			striped: true,
			pagination: true,
			sidePagination: 'client',
			pageList: ['10', '25', '50', '100', 'All'],
			search: true,
			showRefresh: false,
			resizable: true,
			sortable: true,
			showColumns: false,
			detailView: false,
			icons: {
				refresh: 'fa fa-refresh',
				toggle: 'fa fa-th-list',
				columns: 'fa fa-columns',
				detailOpen: 'glyphicon glyphicon-info-sign',
				detailClose: 'glyphicon glyphicon-minus-sign'
			},
			idField: 'user_id',
			columns: [
			{
					field: 'state',
					checkbox: true,
					rowspan: 1,
					align: 'center',
					valign: 'middle'
			},
			{
				field: 'operate',
				title: '',
				align: 'center',
				events: operateEvents,
				formatter: operateFormatter
			},
			{% for col in columns %}
			{
				field: '{{col[0]}}',
				title: '{{col[1]}}',
				{% if col[0] == 'profileID' %}
				visible: false,
				{% endif %}
				sortable: true
			},
			{% endfor %}
			],
			data: [
			{% for d in data %}
			{
				{% for col in columns %}
					{% if col[0] == 'user_type' %}
						{% if d[col[0]] == 2 %}
							{{col[0]}} : 'LDAP',
						{% elif d[col[0]] == 0 %}
							{{col[0]}} : 'Console',
						{% else %}
							{{col[0]}} : 'Standard',
						{% endif %}
					{% elif col[0] == 'enabled'  %}
						{% if d[col[0]] == 1 %}
							{{col[0]}} : 'Yes',
						{% else %}
							{{col[0]}} : 'No',
						{% endif %}
					{% else %}
						{{col[0]}} : '{{d[col[0]]}}',
					{% endif %}
				{% endfor %}
			},
			{% endfor %}
			]
		});
	});

	var $table = $('#table'), $delButton = $('#delButton'), $addButton = $('#addButton');
	$(function ()
	{
		$delButton.click(function ()
		{
			var ids = $.map($table.bootstrapTable('getSelections'), function (row)
			{
				return row.user_id;
			});

			if (ids.length > 1) {
				alert("Please choose only one account to delete at a time.");
				return true;
			}
			confirm_str = "Are you sure you want to remove this account(s)?";
			if (confirm(confirm_str) == true)
			{
				$.ajax({
					type:'DELETE',
					url: '/console/account/'+ids,
					cache: false,
					processData: false,
					contentType: false,
					success: function(){
						alert("Account Deleted Successfully");
					},
					error: function(jqXHR, textStatus, errorThrown){
						alert("Account Failed to Delete");
					}
				});
			}

			$table.bootstrapTable('remove', {
				field: 'user_id',
				values: ids
			});
		});

		$addButton.click(function ()
		{
			resetModalWindow();
			$.get( "/console/account/add").done(function(data) {
				$('#modalTitle').html('Add Account');
				$('#modalBody').html(data);
				//$('#modalSaveButton').hide();
				$('#modalDialog').addClass("modal-mid");
				$('#modalBody').css({'height':'600px'});
				$('#modalDialog').modal('show');
			});
		});
	});



	function operateFormatter(value, row, index)
	{
		return [
			'<a class="edit" href="javascript:void(0)" title="Edit">',
			'<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>',
			'</a>&nbsp;'
		].join('');
	}

	window.operateEvents = {
		'click .edit': function (e, value, row, index)
		{
			resetModalWindow();
			$.get( "/console/account/" + row['user_id']).done(function(data) {
				$('#modalTitle').html('Edit Account');
				$('#modalBody').html(data);
				$('#modalDialog').addClass("modal-mid");
				$('#modalBody').css({'height':'600px'});
				$('#modalDialog').modal('show');
			});
		}
	};
	</script>
{% endblock %}
