{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{% endblock %}

{% block pageHeader %}
MDM Group Members - {{ groupname }}
{% endblock %}

{% block bodyPanel %}
    {% for col in columns %}

    {% endfor %}
	<table id="table" data-toolbar="#toolbar" data-show-export="true">
		<div id="toolbar">
            {% if session.role[0] == 1 %}
			    <button id="addButton" type="button" class="btn btn-default" title="Add MDM Group"><i class="glyphicon glyphicon-plus"></i></button>
            {% endif %}
		</div>
	</table>
{% endblock %}


{% block javascript %}
	{{ super() }}

	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
	<script>
    $('#mdm').addClass('active');

	$( document ).ready(function()
	{
		$('#table').bootstrapTable(
		{
            url: "/mdm/groups/members/{{ groupid }}/list",
			striped: true,
			pagination: true,
			sidePagination: 'client',
			pageList: ['10', '20', '50', '100', 'All'],
			search: true,
			showRefresh: true,
			resizable: true,
			sortable: true,
			showColumns: true,
			icons: {
				refresh: 'fa fa-refresh',
				toggle: 'fa fa-th-list',
				columns: 'fa fa-columns',
				detailOpen: 'glyphicon glyphicon-info-sign',
				detailClose: 'glyphicon glyphicon-minus-sign'
			},
			idField: 'id',
			columns: [
			{
				field: 'operate',
				title: '',
				align: 'center',
				events: operateEvents,
				formatter: operateFormatter
			},
			{% for col in columns %}
			{
                    field: '{{ col['column'] }}',
                    title: '{{ col['displayName'] }}',
                    {% if col['visible'] == 0 %}
                    visible: false,
                    {% endif %}
                    sortable: true
			},
			{% endfor %}
			],
			data: [

			]
		});

	    $('#addButton').click(function ()
        {
            $('#myContent').remove();
            var _url = "/mdm/groups/add";
            var innerHTML = '<iframe src="' + _url + '" id="modaliFrame"' +
             ' frameborder="0" allowtransparency="true"' +
             ' style="width: 98%; height: 98%; position: absolute"></iframe>';

            $('#modalTitle').html("New Corporate Device");
            $('#modalBody').html(innerHTML);
            $('#modalBody').css({'height':'40vh'});
            $('#modalDialog').addClass("modal-mid");
            $('#modalSaveButton').remove();
            $('#modalCancelButton').remove();
            $('#modalDialog').modal('show');
        });
	});
    function operateFormatter(value, row, index)
    {
        var htmlData = [];
        htmlData.push('<table>');
        htmlData.push('<tr><td>');
        htmlData.push('<a class="remove" href="javascript:void(0)" title="Remove Group Member">');
        htmlData.push('<i class="fa fa-trash-o fa-lg"></i></a>');
        htmlData.push('</td>');

        htmlData.push('</td></tr></table>');
        return htmlData.join('');
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index)
        {
            var _url = '/mdm/groups/members/{{ groupid }}/' + row.id
            $.ajax({
                url: _url,
                type: 'DELETE',
                success: function(result) {
                    // Do something with the result
                    $('#table').bootstrapTable('refresh');
                }
            });
        }
    };

	</script>
{% endblock %}
