{% block styles %}
	<link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-table-editable.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">

	 <style>
		 .panel {
			 width: 720px;
		 }
		 .well {
			 width: 720px;
		 }
	</style>

{%  endblock %}

{% block bodyPanel %}
<div class="container">
	<form method='post' action='#' id="myForm">
		<div class="well">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Attribute</label>
				<div class="col-sm-6">
					<select class="form-control" name="attribute">
					  <option value="cuuid" {% if data.attribute == 'cuuid' %}selected{% endif %}>Client ID</option>
					  <option value="ipaddr" {% if data.attribute == 'ipaddr' %}selected{% endif %}>IP Address</option>
					  <option value="hostname" {% if data.attribute == 'hostname' %}selected{% endif %}>HostName</option>
					  <option value="Domain" {% if data.attribute == 'Domain' %}selected{% endif %}>Client Group</option>
					  <option value="agent_version" {% if data.attribute == 'agent_version' %}selected{% endif %}>Agent Version</option>
					  <option value="agent_build" {% if data.attribute == 'agent_build' %}selected{% endif %}>Agent Build</option>
					  <option value="client_version" {% if data.attribute == 'client_version' %}selected{% endif %}>Client Version</option>
					  <option value="All" {% if data.attribute == 'All' %}selected{% endif %}>All</option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Operator</label>
				<div class="col-sm-6">
					<select class="form-control" name="attribute_oper">
					  <option value="EQ" {% if data.attribute_oper == 'EQ' %}selected{% endif %}>Equal</option>
					  <option value="NEQ" {% if data.attribute_oper == 'NEQ' %}selected{% endif %}>Not Equal</option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Condition</label>
				<div class="col-sm-6">
					<input class="form-control" name="attribute_filter" type="text" value="{{data.attribute_filter or ''}}">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Filter</label>
				<div class="col-sm-6">
					<select class="form-control" name="attribute_condition">
						<option value="AND" {% if data.attribute_condition == 'AND' %}selected{% endif %}>AND</option>
						<option value="OR" {% if data.attribute_condition == 'OR' %}selected{% endif %}>OR</option>
						<option value="None" {% if data.attribute_condition == 'None' %}selected{% endif %}>None</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

<script type="text/javascript">
	$(document).ready(function() {
	   $("#modalSaveButton").click(function()
	   {
			var formData = new FormData($('#myForm')[0]);

			$.ajax({
				type:'POST',
				url: '/console/agent/filter/{{ data.rid or '0' }}',
				data: formData,
				cache: false,
				processData: false,
				contentType: false,
				success: function(){
					alert("Filter Updated Successfully");
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert("Filter Failed to Update");
				}
			});

			$('#modalDialog').modal('hide');
		   //$("#myForm").submit();
	   });
	});
</script>
