{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
MacPatch Servers
{%  endblock %}

{% block bodyPanel %}
    <table id="table" data-toolbar="#toolbar" class="table table-condensed" data-show-export="true">
        <div id="toolbar">
            <button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
            <button id="delButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
    </table>
{% endblock %}


{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>
    <script>
    $( document ).ready(function()
    {
        $('#table').bootstrapTable({
            striped: true,
            ajax: function loadMyRows(params)
            {
                if (params.data.search == '') {
                    params.data.search = undefined;
                }
                // /profiles/group/<groupid>
                var _url = "/console/servers/asus/list";
                $.ajax({
                    type: 'GET',
                    url: _url,
                    cache: false,
                    dataType: 'json',
                    success: function(res) 
                    {
                        params.success({
                            total: res.total,
                            rows: res.data
                        });
                    }
                });
            },
            search: false,
            pageSize: 20,
            pageList: [5, 10, 20, 50, 100, 200],
            pagination: true,
            queryParamsType: "limit",
            sidePagination: "server",
            showRefresh: true,
            columns: [
                {
                    field: 'rowState',
                    checkbox: true,
                    rowspan: 1,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'operate',
                    title: '',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                },
                {% for col in columns %}
                    {

                        {% if col[2] == '0' %}
                        visible: false,
                        {% endif %}
                        sortable: true,
                        field: '{{col[0]}}',
                        title: '{{col[1]}}'

                    },
                {% endfor %}
            ]
        });
    });

    function operateFormatter(value, row, index) 
    {
        return [
            '<a class="edit" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>',
            '</a>&nbsp;'
        ].join('');
    }

    var $_table = $('#table');

    window.operateEvents = {
        'click .edit': function (e, value, row, index)
        {
            $.get( "/console/servers/asus/" + row['rid']).done(function(data) {
                $('#modalTitle').html('Edit SoftwareUpdate Server');
                $('#modalBody').html(data);
                $('#modalDialog').addClass("modal-mid");
                $('#modalBody').css({'height':'420px'});
                $('#modalDialog').modal('show');

                $("#modalDialog").on("hidden.bs.modal", function () {
                    $_table.bootstrapTable('refresh');
                });
            });
        },
        'click .description': function (e, value, row, index) {
            alert('You click description action, row: ' + JSON.stringify(row));
        }
    };

    var $_delPluginButton = $('#delButton'), $_addPluginButton = $('#addButton');
    $(function () {
        $_delPluginButton.click(function ()
        {
            var rows = $('#table').bootstrapTable('getAllSelections');
            var rowsArr = [];
            for (x in rows) {
                var _rid = rows[x]['rid'];
                rowsArr.push(_rid);
            }
            
            if (confirm("Are you sure you want to remove these servers?") == true) 
            {
                var _url = "/servers/asus";
                $.ajax({
                    url: _url,
                    type: 'DELETE',
                    cache: false,
                    data: {'rid':rowsArr.toString()},
                    error: function (request, status, error) 
                    {
                        jsonValue = jQuery.parseJSON( request.responseText );
                        alert(jsonValue.errormsg);
                    },
                    success: function () {
                        alert("Plugin(s) removed successfully.");
                        $_table.bootstrapTable('refresh');
                    }   
                });
            }
        });

        $_addPluginButton.click(function ()
        {
            $.get( "/console/servers/asus/0").done(function(data) {
                $('#modalTitle').html('Add SoftwareUpdate Server');
                $('#modalBody').html(data);
                $('#modalDialog').addClass("modal-mid");
                $('#modalBody').css({'height':'420px'});
                $('#modalDialog').modal('show');

                $("#modalDialog").on("hidden.bs.modal", function () {
                    $_table.bootstrapTable('refresh');
                });
            });
        });
    });
    </script>
{% endblock %}