{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
Clients
{%  endblock %}

{% block bodyPanel %}

    <table id="table"></table>
{% endblock %}


{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>
    <script>
    $( document ).ready(function()
    {
            $('#table').bootstrapTable({

                striped: true,
                pagination: true,
                sidePagination: 'client',
                pageList: ['10', '25', '50', '100', 'All'],
                search: true,
                showRefresh: true,
                resizable: true,
                sortable: true,
                showColumns: true,

                columns: [
                {% for col in colNames %}
                {
                    field: '{{col.name}}',
                    title: '{{col.label}}',
                    {% if col.name ==  'rid' or col.name ==  'cuuid' or col.name ==  'cdate' %}
                    visible: false,
                    {% endif %}
                    sortable: true
                },
                {% endfor %}
                ],
                data: [
                {% for client in cData %}
                {
                    {% for col in columns %}
                    {{col}}: '{{client[col]}}',
                    {% endfor %}
                },
                {% endfor %}
                ]
            });
    });
    </script>
{% endblock %}