<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
            Client Dashboard - {{client_id}}
        {% endblock %}
    </title>

    {% block styles %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-editable.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
    {% endblock %}


</head>

<body>
    {% block bodyPanel %}

    <div class="span12 pagination-centered">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Required Patches
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table id="rpatchesTable" class="table table-striped table-condensed"></table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Installed Patches
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table id="ipatchesTable" class="table table-striped table-bordered table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="height:40px;">
                        <div class="pull-left">
                            <div id="invTitle">Inventory</div>
                        </div>
                        <div class="pull-right">
                            <div class="dropdown">
                                <div class="btn-group">
                                    <button type="button" id="menu1" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Collections
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        {% for t in invTypes %}
                                        <li><a id="{{t['table']}}" href="#">{{t['name']}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table id="invTable" class="table table-striped table-bordered table-hover" data-show-export="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
     <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/export/bootstrap-table-export.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/export/tableExport.js') }}"></script>
    {% block javascript %}
    <script>
    
    var _invArr = [];
    {% for t in invTypes %}
        _invArr.push({table: '{{t['table']}}', name: '{{t['name']}}'});
    {% endfor %}

    $( document ).ready(function()
    {
        $.get('/clients/dashboard/required/{{client_id}}').done(function(data) {

            var obj = JSON.parse(data);
            var _rows = obj['data'];
            var _cols = obj.columns;
            

            $('#rpatchesTable').bootstrapTable(
            {
                striped: true,
                pagination: true,
                sidePagination: 'client',
                search: false,
                showRefresh: false,
                resizable: true,
                sortable: true,
                showColumns: false,
                columns: _cols,
                data: _rows
            });
        });

        $(function(){
            $(".dropdown-menu").on("click", "li", function(event) 
            {
                var invType = event.toElement.id; // Get the text of the element
                //alert(invType);

                $.get('/clients/dashboard/inventory/{{client_id}}/'+invType).done(function(data) 
                {
                
                    for (var key in _invArr) {
                        if (_invArr[key]['table'] == invType) {
                            $('#invTitle').html("Inventory - " + _invArr[key]['name']);        
                        }
                    }

                    var obj = JSON.parse(data);
                    var _rows = obj['data'];
                    var _cols = obj['columns'];
                    
                    $('#invTable').bootstrapTable('destroy');

                    if (_rows.length > 1) {
                        $('#invTable').addClass('table-condensed');
                    }
                    
                    $('#invTable').bootstrapTable(
                    {
                        striped: true,
                        pagination: true,
                        sidePagination: 'client',
                        search: true,
                        showRefresh: false,
                        resizable: true,
                        sortable: true,
                        showColumns: true,
                        exportDataType: 'all',
                        exportTypes: ['json', 'csv', 'excel'],
                        columns: _cols,
                        data: _rows
                    });
                });

            })
        })
    });


    </script>


    {% endblock %}
</body>

</html>