{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
Clients - All
{%  endblock %}

{% block bodyPanel %}
	<table id="table" class="table table-condensed"></table>
{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/col-resizable/colResizable-1.6.min.js') }}"></script>
	<script>
	$( document ).ready(function()
	{
			$('#table').bootstrapTable(
			{
				url: "/clients/list",
				striped: true,
				pagination: true,
				sidePagination: 'client',
				showRefresh: true,
				pageList: ['10', '25', '50', '100', 'All'],
				search: true,
				idField: 'cuuid',
				sortable: true,
				showColumns: true,

				columns: [
				{% for col in colNames %}
				{
					field: '{{col.name}}',
					title: '{{col.label}}',
					{% if col.name ==  'addn' or col.name ==  'cuuid' or col.name ==  'cdate'
					 or col.name == 'macaddr' %}
					visible: false,
					{% endif %}
					sortable: true
				},
				{% endfor %}
				],
				data: [
				{% for client in cData %}
				{
					{% for col in columns %}
					{{col}}: '{{client[col]}}',
					{% endfor %}
				},
				{% endfor %}
				]
			});
	});
	</script>
{% endblock %}
