<!DOCTYPE html>
{% block styles %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
    <style>
        #patchesTable > tbody > tr > td {
            height:28px;
            padding:4px;
            border-top: 2px;
        }
    </style>
{%  endblock %}

{% block body %}
    <div>
        <table id="patchesTable" data-toolbar="#patchesToolbar" data-show-export="true" data-show-columns="true">
            <div id="patchesToolbar">
                <button id="saveGroupDataButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i></button>
            </div>
        </table>
    </div>
    <div id="overlay">
        <img id="overlayImg" src="{{ url_for('static', filename='images/35.gif')}}" style="display:block;margin:auto;padding-top:10%;" />
        <h1 style="text-align: center; color: white; ">Saving...</h1>
    </div>
{% endblock %}


{% block javascript %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>

    <script>
    $( document ).ready(function()
    {
        $('#patchesTable').bootstrapTable({
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageList: ['10', '20', '40', '100', 'All'],
            pageSize: 20,
            search: true,
            showRefresh: false,
            resizable: true,
            sortable: true,
            showColumns: false,
            detailView: false,
            maintainSelected: true,
            checkboxHeader: false,
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'glyphicon glyphicon-info-sign',
                detailClose: 'glyphicon glyphicon-minus-sign'
            },
            idField: 'id',
            sortName: 'postdate',
            sortOrder: 'desc',
            columns: [
            {% for col in columns %}
                {
                {% if col[0] == 'Enabled' %}
                    field: 'Enabled',
                    checkbox: true,
                    rowspan: 1,
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    {% if isOwner == 'false' %}
                    disabled: true,
                    {% endif %}
                {% else %}
                    field: '{{col[0]}}',
                    title: '{{col[1]}}',
                    {% if col[0] ==  'id' or col[0] == 'suname' or col[0] == 'patch_state' %}
                    visible: false,
                    {% endif %}
                    sortable: true
                {% endif %}
                },
            {% endfor %}
            ],
            data: [
            {% for patch in data %}
            {
                {% for col in columns %}
                    {% if col[0] == 'Enabled' %}
                        {% if patch[col[0]] == 'NA' %}
                            'Enabled': false,
                        {% else %}
                            'Enabled': true,
                        {% endif %}
                    {% else %}
                        '{{col[0]}}': '{{patch[col[0]]}}',
                    {% endif %}
                {% endfor %}
            },
            {% endfor %}
            ]
        });

        removeSelected();
    });

    /* Removed the selected row color from the table */
    function removeSelected() {
        $('#patchesTable tr').each(function (i, row, element) {
            $(this).removeClass('selected');
        });
    }

    /* Save button and save content to json */
    var $patchesTable = $('#patchesTable'), $saveButton = $('#saveGroupDataButton');
    $(function () {
        $saveButton.click(function ()
        {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.indexOf('safari') != -1) {
                if (ua.indexOf('chrome') > -1) {
                    $("#overlayImg").attr("src","{{ url_for('static', filename='images/35.gif')}}");
                } else {
                    // Safari
                    $("#overlayImg").attr("src","{{ url_for('static', filename='images/36.png')}}");
                }
            }

            $('#overlay').show();
            setTimeout(function(){
                $('#overlay').hide();
                alert("This did not actuall save, feature not implemented.");
            }, 2000);
        });
    });

    $('#patchesTable').on('check.bs.table', function (e, row, $element) {
        //This event fires every time a checkbox is checked
        {% if isOwner == 'true' %}
            removeSelected();
            $.get( "/patches/group/add/{{groupID}}/" + row['id']).done(function(data, status)
            {
                var result = JSON.parse(data);
                if (result.error != 0) {
                    alert('An error was generated adding this patch to this group.');
                }
            });
        {% endif %}
    });

    $('#patchesTable').on('uncheck.bs.table', function (e, row) {
        //This event fires every time a checkbox is unchecked
        {% if isOwner == 'true' %}
            $.get( "/patches/group/remove/{{groupID}}/" + row['id']).done(function(data, status)
            {
                var result = JSON.parse(data);
                if (result.error != 0) {
                    alert('An error was generated adding this patch to this group.');
                }
            });
        {% endif %}
    });

    </script>
{% endblock %}