{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-editable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
    {{pageTitle}}
{%  endblock %}

{% block bodyPanel %}

    <table id="table" class="table table-condensed" data-toolbar="#toolbar" data-show-export="true">
        <div id="toolbar"></div>
    </table>

{% endblock %}


{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-table-editable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-editable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/export/bootstrap-table-export.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/export/tableExport.js') }}"></script>
    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
    <script>

    $( document ).ready(function()
    {
        $('#table').bootstrapTable({
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageList: ['10', '20', '50', '100', 'All'],
            search: true,
            showRefresh: false,
            resizable: true,
            sortable: true,
            showColumns: false,
            detailView: false,
            exportDataType: 'all',
            exportTypes: ['json', 'csv', 'excel'],
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'glyphicon glyphicon-info-sign',
                detailClose: 'glyphicon glyphicon-minus-sign',
                export: 'glyphicon-export icon-share'  
            },

            columns: [
                {% for col in columns %}
                    {
                        
                        {% if col[2] == '0' %}
                        visible: false,
                        {% endif %}
                        sortable: true,
                        field: '{{col[0]}}',
                        title: '{{col[1]}}'
                        
                    },
                {% endfor %}
            ],
            data: [
                
                {% for patch in data %}
                { {% for col in columns %}
                    {{col[0]}}: '{{patch[col[0]]}}',
                {% endfor %}},
                {% endfor %}
                
            ]
        });
    });

    </script>
{% endblock %}