{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-editable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{% endblock %}

{% block pageHeader %}
Patch Groups
{% endblock %}

{% block bodyPanel %}

    <table id="table" data-toolbar="#toolbar" data-show-export="true">
        <div id="toolbar">
            <button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
    </table>

{% endblock %}


{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-table-editable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-editable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>
    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
    <script>

    $( document ).ready(function()
    {
        $('#table').bootstrapTable({
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageList: ['10', '20', '50', '100', 'All'],
            search: true,
            showRefresh: true,
            resizable: true,
            sortable: true,
            showColumns: true,
            detailView: false,
            detailFormatter: detailFormatter,
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'glyphicon glyphicon-info-sign',
                detailClose: 'glyphicon glyphicon-minus-sign'
            },
            idField: 'supatchname',

            columns: [
            {
                field: 'operate',
                title: '',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            },
            {% for col in columns %}
            {
                field: '{{col[0]}}',
                title: '{{col[1]}}',
                {% if col[0] ==  'rid' or col[0] ==  'id'%}
                visible: false,
                {% endif %}
                sortable: true
            },
            {% endfor %}
            ],
            data: [
            {% for patch in data %}
            {
                {% for col in columns %}
                    {% if col[0] ==  'user_id' %}
                        {{col[0]}}: '{{patch.user_id}}',
                    {% elif col[0] ==  'type' %}
                        {{col[0]}}:
                        {% if patch[0][col[0]] == 2 %}
                            'Dev',
                        {% elif patch[0][col[0]] == 1 %}
                            'QA',
                        {% elif patch[0][col[0]] == 0 %}
                            'Production',
                        {% else %}
                            {{patch[0][col[0]]}},
                        {% endif %}

                    {% else %}
                        {{col[0]}}: '{{patch[0][col[0]]}}',
                    {% endif %}

                {% endfor %}
            },
            {% endfor %}
            ]
        });
    });

    function detailFormatter(index, row) {
        var html = [];
        var re = /\\n/g;
        var re2 = /\\t/g;
        var re3 = /<style([\S\s]*?)>([\S\s]*?)<\/style>/ig;
        var decodedData = window.atob(row['description64']);
        var description = decodedData.replace("Data('"," ");
        description = description.replace("')"," ");
        description = description.replace(re," ");
        description = description.replace(re2," ");
        description = description.replace(re3," ");
        if (description.trim() == "") {
            description = '<p>No Description</p>'
        }
        html.push(description);
        return html.join('');
    }

    function operateFormatter(value, row, index)
    {
        var htmlData = [];

        htmlData.push('<table><tr><td>')
        htmlData.push('<a class="patches" href="javascript:void(0)" title="Add/Remove Patches">');
        htmlData.push('<i class="fa fa-list-ul" aria-hidden="true"></i></a>');
        htmlData.push('</td><td>');
        if ( '{{session.user}}' == row.user_id) {
            htmlData.push('<a class="edit" href="javascript:void(0)" title="Edit Patch Group Info">');
            htmlData.push('<i class="fa fa-pencil" aria-hidden="true"></i>');
            htmlData.push('</a>');
        } else {
            htmlData.push('&nbsp;&nbsp;&nbsp;');
        }
        htmlData.push('</td><td>');
        htmlData.push('<a class="admins" href="javascript:void(0)" title="Patch Group Admins">');
        htmlData.push('<i class="fa fa-users" aria-hidden="true"></i></a>');
        htmlData.push('</td><td>');
        if ('{{session.user}}' == row.user_id) {
            htmlData.push('<a class="remove" href="javascript:void(0)" title="Remove Patch Group">');
            htmlData.push('<i class="fa fa-trash-o"></i></a>');
        } else {
            htmlData.push('&nbsp;&nbsp;&nbsp;');
        }
        htmlData.push('</td></tr></table>');
        return htmlData.join('');
    }

    var $table = $('#table'), $addButton = $('#addButton');
    $(function () {
        $addButton.click(function ()
        {
            $.get( "/patches/patchGroups/add").done(function(data)
            {
                /* Remove ID's */
                $('#myContent').remove();
                $('#modaliFrame').remove();
                $('#modalDialog').removeClass("modal-wide");
                $('#modalHeader').removeClass('panel-heading');
                $('#modalContent').removeClass('panel-danger');

                /* New Content */
                var innerHTML = '<div id="myContent">' + data + '</div>';

                / * Show Modal Window */
                $('#modaliFrame').remove();
                $('#modalTitle').html('New Patch Group');
                $('#modalBody').css({'height':'200px'});
                $('#modalBody').html(innerHTML);
                $('#modalDialog').modal('show');
            });
        });
    });

    window.operateEvents = {
        'click .edit': function (e, value, row, index)
        {
            $.get( "/patches/patchGroups/edit/" + row['id']).done(function(data)
            {
                /* Remove ID's */
                $('#myContent').remove();
                $('#modaliFrame').remove();
                $('#modalDialog').removeClass("modal-wide");
                $('#modalHeader').removeClass('panel-heading');
                $('#modalContent').removeClass('panel-danger');

                /* New Content */
                var innerHTML = '<div id="myContent">' + data + '</div>';

                /* Show Modal Window */
                $('#modalTitle').html('Edit Patch Group');
                $('#modalCloseButton').remove();
                $('#modalBody').css({'height':'200px'});
                $('#modalBody').html(innerHTML);
                $('#modalDialog').modal('show');
            });
        },
        'click .patches': function (e, value, row, index)
        {
            $('#myContent').remove();
            $('#modalHeader').removeClass('panel-heading');
            $('#modalContent').removeClass('panel-danger');

            var _url = "/patches/group/edit/" + row['id'];
            var innerHTML = '<iframe src="' + _url + '" id="modaliFrame"' +
             ' frameborder="0" allowtransparency="true"' +
             ' style="width: 98%; height: 98%; position: absolute"></iframe>';

            $('#modalTitle').html('Add/Remove Patches : ' + row['name']);
            $('#modalCloseButton').remove();
            $('#modalBody').html(innerHTML);
            $('#modalBody').css({'height':'80vh'});
            $('#modalDialog').addClass("modal-wide");
            $('#modalDialog').modal('show');
        },
        'click .remove': function (e, value, row, index) {
            if (confirm('Are you sure to delete this patch group (' + row['name'] +') ?'))
            {
                $.post( "/patches/patchGroups/delete/" + row['id']).done(function(data)
                {
                    if (data.error == 0) {
                        $('#table').bootstrapTable('remove', {
                            field: 'id',
                            values: [row.id]
                        });
                    } else {
                        $('#myContent').remove();
                        $('#modaliFrame').remove();
                        $('#modalDialog').removeClass("modal-wide");
                        
                        $('#modalSaveButton').hide();
                        $('#modalCancelButton').html('Close');
                        $('#modalTitle').html('Error, Removing Patch Group');
                        $('#modalBody').html('Delete item error!');
                        $('#modalBody').css({'height':'200px'});
                        $('#modalHeader').addClass('panel-heading');
                        $('#modalContent').addClass('panel-danger');
                        $('#modalDialog').modal('show');
                    }
                });
            }
        }
    };

    </script>
{% endblock %}