<!DOCTYPE html>
{% block styles %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
    <style>
        #patchesTable > tbody > tr > td {
            height:28px;
            padding:4px;
            border-top: 2px;
        }
    </style>
{%  endblock %}

{% block body %}
    <div>
        <table id="tasksTable" class="table table-condensed" data-toolbar="#tasksToolbar" data-show-export="true" data-show-columns="true"></table>
    </div>
    <div id="overlay">
        <img id="overlayImg" src="{{ url_for('static', filename='images/35.gif')}}" style="display:block;margin:auto;padding-top:10%;" />
        <h1 style="text-align: center; color: white; ">Saving...</h1>
    </div>
{% endblock %}


{% block javascript %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>

    <script>

    var _cols = [{
                    field: 'selected',
                    checkbox: true,
                    rowspan: 1,
                    align: 'center',
                    valign: 'middle'
                },];

    _cols.push.apply(_cols, {{data["columns"] | tojson}});
    var _rows = {{data["rows"] | tojson}};

    $( document ).ready(function()
    {
        $('#tasksTable').bootstrapTable({
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageList: ['10', '20', '40', '100', 'All'],
            pageSize: 20,
            search: true,
            showRefresh: false,
            resizable: true,
            sortable: true,
            showColumns: false,
            detailView: false,
            maintainSelected: true,
            checkboxHeader: false,
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'glyphicon glyphicon-info-sign',
                detailClose: 'glyphicon glyphicon-minus-sign'
            },
            idField: 'id',
            sortName: 'postdate',
            sortOrder: 'desc',
            columns: _cols,
            data: _rows
        });

        removeSelected();
    });

    /* Removed the selected row color from the table */
    function removeSelected() {
        $('#tasksTable tr').each(function (i, row, element) {
            $(this).removeClass('selected');
        });
    }

    $('#tasksTable').on('check.bs.table', function (e, row, $element) {
        //This event fires every time a checkbox is checked
        {% if isOwner == true or isAdmin == true %}
            removeSelected();
            $.get( "/software/group/{{group_id}}/task/add/" + row['sw_task_id']).done(function(data, status)
            {
                var result = JSON.parse(data);
                if (result.error != 0) {
                    alert('An error was generated adding this patch to this group.');
                }
            });
        {% endif %}
    });

    $('#tasksTable').on('uncheck.bs.table', function (e, row) {
        //This event fires every time a checkbox is unchecked
        {% if isOwner == true or isAdmin == true %}
            $.get( "/software/group/{{group_id}}/task/remove/" + row['sw_task_id']).done(function(data, status)
            {
                var result = JSON.parse(data);
                if (result.error != 0) {
                    alert('An error was generated adding this patch to this group.');
                }
            });
        {% endif %}
    });

    </script>
{% endblock %}