{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-editable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
    {{title}}
{%  endblock %}

{% block bodyPanel %}

    <table id="table" class="table table-condensed" data-row-style="rowStyle" data-toolbar="#toolbar">
        <div id="toolbar">
            <button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
    </table>
    
{% endblock %}


{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/mp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-table-editable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/extensions/editable/bootstrap-editable.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-table/colResizable-1.5.source.js') }}"></script>
    <script>

    function operateEditFormatter(value, row, index) 
    {
        return [
            '<a class="tasks" href="javascript:void(0)" title="Add/Remove Software Tasks">',
            '<i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>',
            '</a>&nbsp;&nbsp;&nbsp;',
            '<a class="edit" href="javascript:void(0)" title="Edit Software Group Info">',
            '<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>',
            '</a>&nbsp;&nbsp;&nbsp;',
            '<a class="remove" href="javascript:void(0)" title="Remove Software Group">',
            '<i class="glyphicon glyphicon-trash"></i>',
            '</a>'
        ].join('');
    }
    function operateFilterFormatter(value, row, index) 
    {
        return [
            '<a class="filter" href="javascript:void(0)" title="Filter">',
            '<i class="fa fa-filter fa-lg" aria-hidden="true"></i>',
            '</a>&nbsp;'
        ].join('');
    }

    window.operateEvents = {
         'click .tasks': function (e, value, row, index)
        {
            $('#myContent').remove();

            var _url = "/software/group/" + row['gid'] + "/tasks";
            var innerHTML = '<iframe src="' + _url + '" id="modaliFrame"' +
             ' frameborder="0" allowtransparency="true"' +
             ' style="width: 98%; height: 98%; position: absolute"></iframe>';

            $('#modalTitle').html('Add/Remove Software Tasks : ' + row['gName']);
            $('#modalCancelButton').hide();
            $('#modalBody').html(innerHTML);
            $('#modalBody').css({'height':'80vh'});
            $('#modalDialog').addClass("modal-wide");
            $('#modalDialog').modal('show');
        },   
        'click .edit': function (e, value, row, index)
        {
            $.get( "/software/group/edit/" + row['gid']).done(function(data) {
                /* Remove ID's */
                $('#myContent').remove();
                $('#modaliFrame').remove();
                $('#myModal').removeClass("modal-wide");

                /* New Content */
                var innerHTML = '<div id="myContent">' + data + '</div>';

                / * Show Modal Window */
                $('#modaliFrame').remove();
                $('#modalTitle').html('Edit Software Group Info');
                $('#modalCancelButton').show();
                $('#modalDialog').removeClass("modal-wide");
                $('#modalBody').css({'height':'200px'});
                $('#modalBody').html(innerHTML);
                $('#modalDialog').modal('show');
            });
        },
        'click .delete': function (e, value, row, index)
        {
            if (confirm('Are you sure to delete this patch group (' + row['name'] +') ?'))
            {
                $.post( "/software/group/delete/" + row['id']).done(function(data)
                {
                    if (data.error == 0) {
                        $('#table').bootstrapTable('remove', {
                            field: 'id',
                            values: [row.id]
                        });
                    } else {
                        $('#modalTitle').html('Error, Removing Patch Group');
                        $('#errorBody').html('Delete item error!');
                        $('#modalError').modal('show');
                    }
                });
            }
        },
        'click .filter': function (e, value, row, index) {
            alert('You click description action, row: ' + JSON.stringify(row));
        }
    };

    var _cols = [{
                    field: 'operate',
                    title: '',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateEditFormatter
                },
                {
                    field: 'operate',
                    title: 'Filter',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFilterFormatter
                }];

    _cols.push.apply(_cols, {{data["columns"] | tojson}});
    var _rows = {{data["rows"] | tojson}};

    console.log(_cols);
    console.log(_rows);

    $( document ).ready(function()
    {
            $('#table').bootstrapTable({

                striped: true,
                pagination: true,
                sidePagination: 'client',
                pageList: ['10', '20', '50', '100', 'All'],
                search: true,
                showRefresh: false,
                resizable: true,
                sortable: true,
                showColumns: false,
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'glyphicon glyphicon-info-sign',
                    detailClose: 'glyphicon glyphicon-minus-sign'
                },
                columns: _cols,
                data: _rows
            });
    });

    var $table = $('#table'), $delButton = $('#delButton'), $addButton = $('#addButton');
    $(function () {
        $delButton.click(function ()
        {
            var ids = $.map($table.bootstrapTable('getSelections'), function (row) {

                return row.puuid;
            });
            $table.bootstrapTable('remove', {
                field: 'puuid',
                values: ids
            });
        });

        $addButton.click(function ()
        {
            $.get( "/software/group/add/" + guid() ).done(function(data) {
                $('#modalTitle').html("Add Software Group");
                $('#modalBody').html(data);
                $('#modalBody').css({'height':'200px'});
                $('#modalDialog').modal('show');
            });
        });
    });

    </script>
{% endblock %}