[DEFAULT]
API_USR_NAME = "api-user" # Not Real, need to change
API_USR_PASS = "the-api-user-pass" # Not Real, need to change
API_TOKEN    = "NA"

USE_SSL = True
MP_SERVER = mp.server.com # Not Real, need to change
MP_PORT = 3600
URI_PREFIX = /api/v1
UPLOAD_PKGS = True

# Sign PKG
SIGN_PKG = True
SIGN_IDENTITY = Developer ID Installer: Johny Appleseed # Not Real, need to change

# Notorize PKG
NOTORIZE = True

# the email address of your developer account
DEV_ACCOUNT=johny@appleseed.com # Not Real, need to change
# the 10-digit team id
DEV_TEAM=10DIGITID # Not Real, need to change
# the label of the keychain item which contains an app-specific password
DEV_KEYCHAIN_LABEL=KEYCHAIN_PASSWORD_NOT_REAL # Not Real, need to change
# the apple id app-specific password
APPLE_ID_APP_PASSWORD = APPLEID_PASSWORD # Not Real, need to change

#
# PATHS
#PLUGINS_DIRECTORY = PATH/TO/DIR