<div id="footer-slim" class="footer">
  <div class="container">

  <hr />

  <br />

  <div class="row">
    <div class="col-md-12 subfooter">
      <a href="http://www.llnl.gov/" target="_blank"><img src="/static/assets/images/llnl.png" alt="LLNL"/></a>
      <p> Lawrence Livermore National Laboratory <br /> 7000 East Avenue &bull; Livermore, CA 94550 </p>
      <p> Operated by Lawrence Livermore National Security, LLC, for the <br /> Department of Energy's National Nuclear Security Administration. </p>
      <a class="nnsa" href="http://nnsa.energy.gov/" target="_blank"><img src="/static/assets/images/nnsa.png" alt="NNSA"/></a>
      <a class="doe" href="http://energy.gov/" target="_blank"><img src="/static/assets/images/doe_small.png" alt="U.S. DOE"/></a>
      <a class="llns" href="http://www.llnsllc.com/" target="_blank"><img src="/static/assets/images/llns.png" alt="LLNS"/></a>
    </div>

    <div class="col-md-12 subfooter">
      <span>LLNL-WEB-680594 &nbsp;|&nbsp;&nbsp;</span>
      <a href="https://www.llnl.gov/disclaimer" target="_blank">Privacy &amp; Legal Notice</a>
    </div>
  </div>
  </div>
</div>
