/*body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
*/
legend {
	font-size:14px;
	font-style:bold;
}

#container {
	//width:920px;
	width:98%!important;
    display: table;
	font-size:11px;
	color:#0464BB;
	overflow-x: hidden;
}

.wiz-body {
	//width:910px;
	width:96%!important
	overflow-x: hidden;
}

.wiz-body a {
	color:#2E2E2E;
	font-weight:normal;
	border-bottom:thin;
}

#row  {
    display: table-row;
	padding:4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:30px;
}

#left {
	text-align:left;
    display: table-cell;
	padding: 2px;
	padding-left:6px;
	vertical-align:middle;
	width: 140px;
}

#center {
	text-align:left;
    display: table-cell;
	padding: 2px;
	padding-left:6px;
	vertical-align:top;
	//width: 580px;
}

#right {
	display: table-cell;
	font-size:10px;
	font-style:italic;
	text-align:left;
	vertical-align: middle;
	padding: 2px;
	width: 200px;
	overflow: auto;
	float:right;
}