<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServiceDescription</key>
	<string>MacPatch Reposado Sync</string>
	<key>Label</key>
	<string>gov.llnl.mp.reposado.sync.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/MacPatch/Reposado/reposado/code/repo_sync</string>
	</array>
	<key>StartInterval</key>
	<integer>28800</integer>
	<key>StandardOutPath</key>
	<string>/Library/MacPatch/Reposado/Logs/Repo_Sync_stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/MacPatch/Reposado/Logs/Repo_Sync_stderr.log</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
