[Unit]
Description=The MacPatch NGINX HTTP server for Reposado
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/Library/MacPatch/Reposado/nginx/logs/nginx.pid
ExecStartPre=/Library/MacPatch/Reposado/nginx/sbin/nginx -t
ExecStart=/Library/MacPatch/Reposado/nginx/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target