<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MPServerAddress</key>
	<string>localhost</string>
	<key>MPServerPort</key>
	<string>3600</string>
	<key>MPServerSSL</key>
	<string>1</string>
	<key>avDefsInfoURL</key>
	<string>ftp://ftp.symantec.com/public/english_us_canada/antivirus_definitions/norton_antivirus_mac/</string>
	<key>avDownloadToFilePath</key>
	<string>/opt/MacPatch/Content/Web/sav</string>
	<key>avDownloadURL</key>
	<string>http://definitions.symantec.com/defs/</string>
	<key>avPath</key>
	<string>/mp-content/sav</string>
</dict>
</plist>
