<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>gov.llnl.mp.ProxySync</string>
	<key>ServiceDescription</key>
	<string>MacPatch Proxy Content Sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/MacPatch/Server/bin/MPProxySync</string>
		<string>-p</string>
		<string>/Library/MacPatch/Server/conf/etc/gov.llnl.MPProxySync.plist</string>
	</array>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
