{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-table-editable.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
Apple Patches
{%  endblock %}

{% block bodyPanel %}

	<table id="table" data-toolbar="#toolbar" class="table table-condensed" data-show-export="true">
		<div id="toolbar">
			{% if session.role[0] == 1 %}
			<button id="qaButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i> Create -> QA</button>
			<button id="prodButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i> QA -> Prod</button>
			{% endif %}
		</div>
	</table>

{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-table-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/col-resizable/colResizable-1.6.min.js') }}"></script>
	<script>

	$( document ).ready(function()
	{
			$('#table').bootstrapTable(
			{
			    url: "/patches/apple/list",
				striped: true,
                pagination: true,
                sidePagination: 'client',
                showRefresh: true,
                pageList: ['10', '25', '50', '100', 'All'],
                search: true,
                idField: 'akey',
                sortable: true,
				detailView: true,
				detailFormatter: detailFormatter,
				icons: {
					refresh: 'fa fa-refresh',
					toggle: 'fa fa-th-list',
					columns: 'fa fa-columns',
					detailOpen: 'glyphicon glyphicon-info-sign',
					detailClose: 'glyphicon glyphicon-minus-sign'
				},
				idField: 'supatchname',
				columns: [
				{
					field: 'operate',
					title: '',
					align: 'center',
					events: operateEvents,
					formatter: operateFormatter
				},
				{% for col in columns %}
				{
					field: '{{col.name}}',
					title: '{{col.info}}',
					{% if col.name ==  'rid' or col.name == 'akey' or col.name == 'description64' or col.name == 'description'
					or col.name == 'severity_int' or col.name == 'osver_support'
					%}
					visible: false,
					{% endif %}
					{% if col.name ==  'patch_state' and session.role[0] == 1 %}
					editable: {
						type: 'select',
						url: '/patches/apple/state',
						source: [
							{value: 'Create', text: 'Create'},
							{value: 'QA', text: 'QA'},
							{value: 'Production', text: 'Production'},
							{value: 'Disabled', text: 'Disabled'}
						]
					},
					{% endif %}
					{% if col.name == 'severity' and session.role[0] == 1 %}
					editable: {
						type: 'select',
						url: '/patches/apple/severity',
						source: [
							{value: 'High', text: 'High'},
							{value: 'Medium', text: 'Medium'},
							{value: 'Low', text: 'Low'},
							{value: 'Critical', text: 'Critical'},
							{value: 'Unknown', text: 'Unknown'},
						]
					},
					{% endif %}
					sortable: true
				},
				{% endfor %}
				],
				data: [
				{% for patch in data %}
				{
					{% for col in columns %}
					{% if col.name ==  'severity'%}
						{{col.name}}: '{{patch.severity}}',
					{% elif col.name ==  'patch_state'%}
						{{col.name}}: '{{patch.patch_state}}',
					{% else %}
						{{col.name}}: '{{patch[0][col.name]}}',
					{% endif %}
					{% endfor %}
				},
				{% endfor %}
				]
			});
	});

	function detailFormatter(index, row) {
		var html = [];
		var re = /\\n/g;
		var re2 = /\\t/g;
		var re3 = /<style([\S\s]*?)>([\S\s]*?)<\/style>/ig;
		var decodedData = window.atob(row['description64']);
		var description = decodedData.replace("Data('"," ");
		description = description.replace("')"," ");
		description = description.replace(re," ");
		description = description.replace(re2," ");
		description = description.replace(re3," ");
		if (description.trim() == "") {
			description = '<p>No Description</p>'
		}
		html.push(description);
		return html.join('');
	}

	function operateFormatter(value, row, index)
	{
		if ( '{{session.role[0]}}' == 1 ) {
			return [
				'<a class="edit" href="javascript:void(0)" title="Edit">',
				'<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>',
				'</a>&nbsp;'
			].join('');
		} else {
			return [
				'<i class="fa fa-pencil fa-lg icon-invisible" aria-hidden="true"></i>',
				'&nbsp;'
			].join('');
		}
	}

	window.operateEvents = {
		'click .edit': function (e, value, row, index)
		{
			$.get( "/patches/applePatchWizard/" + row['rid']).done(function(data) {
				$('#modalBody').html(data);
				$('#modalSaveButton').hide();
				$('#modalCancelButton').hide();
				$('#modalDialog').addClass("modal-wide");
				$('#modalBody').css({'height':'80vh'});
				$('#modalDialog').modal('show');
			});
		},
		'click .description': function (e, value, row, index)
		{
			alert('You click description action, row: ' + JSON.stringify(row));
		}
	};

	var $table = $('#table');
	$(function ()
	{
		$('#qaButton').click(function ()
		{
			if (confirm("Are you sure you want to change the state on all \"Create\" to \"QA\"?") == true)
			{
				var _url = "/patches/apple/bulk/toQA";
				$.ajax({
					url: _url,
					type: 'GET',
					cache: false,
					error: function (request, status, error)
					{
						jsonValue = jQuery.parseJSON( request.responseText );
						alert(jsonValue.errormsg);
					},
					success: function () {
						$table.bootstrapTable('refresh');
					}
				});
			}
		});

		$('#prodButton').click(function ()
		{
			if (confirm("Are you sure you want to change the state on all \"QA\" to \"Production\"?") == true)
			{
				var _url = "/patches/apple/bulk/toProd";
				$.ajax({
					url: _url,
					type: 'GET',
					cache: false,
					error: function (request, status, error)
					{
						jsonValue = jQuery.parseJSON( request.responseText );
						alert(jsonValue.errormsg);
					},
					success: function () {
						$table.bootstrapTable('refresh');
					}
				});
			}
		});
	});

	</script>
{% endblock %}
