{% block styles %}
	<link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-table-editable.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{% endblock %}

{% block bodyPanel %}

	<table id="table_admins" data-toolbar="#toolbar" data-show-export="true">
		<div id="toolbar">
			<button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
			<button id="delButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
		</div>
	</table>

{% endblock %}

{% block javascript %}
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-table-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-editable/bootstrap-editable.js') }}"></script>

	<script src="{{ url_for('static', filename='bower_components/col-resizable/colResizable-1.6.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
	<script>

	$( document ).ready(function()
	{
		$('#table_admins').bootstrapTable(
		{
			striped: true,
			ajax: function loadMyRows(params)
			{
				if (params.data.search == '') {
					params.data.search = undefined;
				}
				// patchGroup/members/gid
				var _url = "/patches/patchGroup/members/{{group_id}}";
				$.ajax({
					type: 'GET',
					url: _url,
					cache: false,
					dataType: 'json',
					success: function(res)
					{
						params.success({
							total: res.total,
							rows: res.data
						});
					}
				});
			},
			search: true,
			pageSize: 10,
			pageList: [5, 10, 20, 50],
			pagination: false,
			queryParamsType: "limit",
			sidePagination: "server",
			showRefresh: true,
			idField: 'user_id',
			columns: [
				{% for col in columns %}
					{
						{% if col[0] == 'rid' %}
							field: 'Enabled',
							checkbox: true,
							rowspan: 1,
							align: 'center',
							valign: 'middle',
							sortable: false
						{% else %}
							sortable: true,
							field: '{{col[0]}}',
							title: '{{col[1]}}',
							{% if col[0] ==  'user_id' %}
								{% if session.role[0] == 1 %}
								editable: {
									title: 'Edit User ID',
									type: 'text',
									pk: 1,
									url: '/patches/patchGroup/member/add/{{group_id}}',
									success: function(response, newValue) {
										$('#table_admins').bootstrapTable('refresh');
									},
								},
								{% endif %}
							{% endif %}
						{% endif %}
					},
				{% endfor %}
			]
		});

		window.operateEvents = {
			'click .edit': function (e, value, row, index)
			{

			}
		};

		function operateFormatter(value, row, index)
		{
			var htmlData = [];
			return htmlData.join('');
		}
	});

	var $table = $('#table_admins'), $addButton = $('#addButton'), $delButton = $('#delButton');
	$(function () {
		$addButton.click(function ()
		{
			var randomId = 100 + ~~(Math.random() * 100);
			$table.bootstrapTable('insertRow', {
				index: 0,
				row: {
					rid: randomId,
					user_id: 'Will Save on Edit',
					is_owner: 0
				}
			});
		});

		$delButton.click(function ()
		{
			var ids = $.map($table.bootstrapTable('getSelections'), function (row)
			{
				return row.user_id;
			});
			$table.bootstrapTable('remove', {
				field: 'user_id',
				values: ids
			});

			// Create form object of the id(s) to remove
			var formData = new FormData();
			formData.append('ids', ids);

			$.ajax({
				type:'POST',
				url: '/patches/patchGroup/member/delete/{{group_id}}',
				data: formData,
				cache: false,
				processData: false,
				contentType: false,
				success: function() {
					$('#table_admins').bootstrapTable('refresh');
					alert("Admin Deleted Successfully");
				},
				error: function(jqXHR, textStatus, errorThrown) {
					$('#table_admins').bootstrapTable('refresh');
					alert("Admin Failed to Delete");
				}
			});
		});
	});

	</script>
{% endblock %}
