# Base MySQL Server Config for a system with 4GIG's of RAM
# Additional tuning may be required if more RAM is installed.
#

[mysql]

# CLIENT #
port                           = 3306
socket                         = /usr/local/mysql/data/mysql.sock

[mysqld]

# GENERAL #
user                           = mysql
default_storage_engine         = InnoDB
socket                         = /usr/local/mysql/data/mysql.sock
pid_file                       = /usr/local/mysql/data/mysql.pid

# 5.7 Additions
sql_mode                       = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
server-id                      = 1

# SAFETY #
max_allowed_packet             = 16M
max_connect_errors             = 1000000
skip_name_resolve
innodb                         = FORCE

# DATA STORAGE #
datadir                        = /usr/local/mysql/data/

# BINARY LOGGING #
log_bin                        = /usr/local/mysql/data/mysql-bin
expire_logs_days               = 14
sync_binlog                    = 1

# CACHES AND LIMITS #
tmp_table_size                 = 32M
max_heap_table_size            = 32M
query_cache_type               = 0
query_cache_size               = 0
max_connections                = 500
thread_cache_size              = 50
open_files_limit               = 65535
table_definition_cache         = 1024
table_open_cache               = 2048

# INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 128M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 2G
innodb_log_buffer_size		   = 4M 


# LOGGING #
log_error                      = /usr/local/mysql/data/mysql-error.log
log_queries_not_using_indexes  = 1
slow_query_log                 = 1
slow_query_log_file            = /usr/local/mysql/data/mysql-slow.log