{% block styles %}
	<!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static', filename='yarn_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='yarn_components/sb-admin-2/dist/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="{{ url_for('static', filename='yarn_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

	<link href="{{ url_for('static', filename='yarn_components/jquery-steps-tc/demo/css/jquery.steps.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='css/range.css') }}" rel="stylesheet">

	<style type="text/css" media="screen">
		#spanLink {
			cursor:pointer;
			color:#337ab7;
			text-decoration:underline;
		}

		.wizard .content {
			min-height: 600px;
		}
		.wizard .content > .body {
			width: 100%;
			height: auto;
			padding: 15px;
			position: relative;
		}

		.top-buffer { margin-top:8px; }
	</style>

{%  endblock %}

{% block bodyPanel %}
<div class="content">
	<form id="applePatchForm" action="#">
		<input name="supatchname" type="hidden" value="{{data.supatchname}}">
		<input name="akey" type="hidden" value="{{data.akey}}">
		<div id="wizard">
			<h1>Apple Patch Information</h1>
			<section>

				<h4>Apple Patch Information</h4>
				<hr>
				<div class="container-fluid">
					<div class="form-group">
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Title</label>
							</div>
							<div class="col-md-8">
								{{data.patchname}}
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Version</label>
							</div>
							<div class="col-md-8">
								{{data.version}}
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Name</label>
							</div>
							<div class="col-md-8">
								{{data.supatchname}}
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Key</label>
							</div>
							<div class="col-md-8">
								{{data.akey}}
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Needs Restart</label>
							</div>
							<div class="col-md-8">
								{{data.restartaction}}
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Description</label>
							</div>
							<div class="col-md-8">
								<div style="border: 1px solid black;width:90%;height:180px;overflow-y:scroll;padding:4px;">
									{{data.description64 | safe}}
								</div>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Severity</label>
							</div>
							<div class="col-md-8">
								<select name="patch_severity" size="1" required="yes">
									<option>{{dataAdds.severity}}</option>
									<option>High</option>
									<option>Medium</option>
									<option>Low</option>
									<option>Unknown</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Patch Install Weight</label>
							</div>
							<div class="col-md-8">
								<div class="range range-primary">
									<input name="patchInstallWeight" min="0" max="100" step="1" value="{{dataAdds.patch_install_weight}}" onchange="rangePrimary.value=value" type="range">
									<output id="rangePrimary">{{dataAdds.patch_install_weight}}</output>
								</div>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Reboot Override</label>
							</div>
							<div class="col-md-8" style="height: 27px;">
								<select name="patch_reboot" size="1" required="yes">
									{% if dataAdds.patch_reboot == 1 %}
									<option value="1" selected>True</option>
									<option value="0">False</option>
									{% endif %}
									{% if dataAdds.patch_reboot == 0 %}
									<option value="1">True</option>
									<option value="0" selected>False</option>
									{% endif %}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>User Install</label>
							</div>
							<div class="col-md-8" style="height: 27px;">
								<select name="user_install" size="1" required="yes">
									{% if dataAdds.user_install == 1 %}
									<option value="1" selected>True</option>
									<option value="0">False</option>
									{% elif dataAdds.user_install == 0 %}
									<option value="1">True</option>
									<option value="0" selected>False</option>
									{% else %}
									<option value="1">True</option>
									<option value="0" selected>False</option>
									{% endif %}
								</select>
							</div>
						</div>
					</div>
				</div>
			</section>

			<h1>Apple Patch Criteria</h1>
			<section>
				<div class="container-fluid">
					<div class="form-group">
						<input type="hidden" id="reqid" value="0">
						<div class="optionBox">
							<div class="block">
								<span class="add" id='spanLink'><p><h5><img src="/static/img/process_add_16.png"/> Add Criteria</h5></span><p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</form>
</div>

{%  endblock %}


{% block javascript %}

<!-- jQuery Step Wizard -->
<script src="{{ url_for('static', filename='yarn_components/jquery/dist/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='yarn_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- jquery.steps -->
<script src="{{ url_for('static', filename='static_components/modernizr/modernizr.js') }}"></script>
<script src="{{ url_for('static', filename='yarn_components/jquery-steps-tc/build/jquery.steps.js') }}"></script>

<!-- ACE Editor -->
<script src="{{ url_for('static', filename='yarn_components/ace-editor-builds/src/ace.js') }}"></script>

<script>
	function createCSS(name,rules)
	{
		var style = document.createElement('style');
		style.type = 'text/css';
		document.getElementsByTagName('head')[0].appendChild(style);
		if(!(style.sheet||{}).insertRule) {
			(style.styleSheet || style.sheet).addRule(name, rules);
		} else {
			style.sheet.insertRule(name+"{"+rules+"}",0);
		}
	}

	$(document).ready(function()
	{
		// jQuery Wizard
		$("#applePatchForm").children("div").steps({
			headerTag: "h1",
			bodyTag: "section",
			{% if canEdit == 0 %}
            enableFinishButton: false,
            enableCancelButton: true,
            {% endif %}
			onFinishing: function (event, currentIndex)
			{
				// Add ACE Editor Data to form to post
				var formData = new FormData($('#applePatchForm')[0]);
				for (i = 0; i < xeditors.length; i++) {
					var fName = "reqCri_type_data_" + xeditors[i]['id']
					formData.append(fName, xeditors[i]['instance'].getValue());
				}

				$.ajax({
					type:'POST',
					url: '/patches/applePatchWizard/update',
					data: formData,
					cache: false,
					processData: false,
					contentType: false,
					success: function(){
						alert("Patch Updated Successfully");
					},
					error: function(jqXHR, textStatus, errorThrown){
						alert("Patch Failed to Update");
					}
				});
				$('#modalDialog').modal('hide');

				return true;
			},
			onFinished: function (event, currentIndex)
			{
				//alert("Submitted!");
			}
		});

		// Create Global vars
		var vars = {}; // used for global variables on dynamic names
		var xeditors = []; // array of ace editors

		// Function to popluate the UI with ACE editors
		function populateData() {
			{% for cri in dataCrit %}
				x = {}
				x['order'] = {{cri.type_order}};
				x['action'] = {{cri.type_action}};
				x['data'] = `{{cri.type_data}}`;
				var _instance = addRow(x['order'], x['action'], x['data']);
				xeditors.push({ id: x['order'], instance: _instance });

				document.getElementById('reqid').value = x['order'];
			{% endfor %}
		}

		// Call funtion to load any criteria data
		window.onload = populateData();

		// Add Row Ace Editor
		function addRow(sid, action, data)
		{
			createCSS('#editor_' + sid,"height: 240px; width: 720px;white-space: pre;");

			var _htm =    '<div class="block" id="row_'+sid+'">';
			// Left Column
			_htm = _htm + '<div class="row top-buffer"><div class="col-md-3">';
			//_htm = _htm + '<div class="column-left">';
			// Remove Image
			_htm = _htm + '<span class="remove"><img src="/static/img/cancel.png" style="vertical-align:top;margin-top:2px;" height="14" width="14"></span>';
			_htm = _htm + "&nbsp;";
			// Criteria Type
			_htm = _htm + "<select name='reqCri_type_" + sid + "' size='1' style='vertical-align:top\;'>";
			_htm = _htm + "<option>Script</option></select>";
			_htm = _htm + "&nbsp;";
			// Criteria Action
			_htm = _htm + "<select name='reqCri_type_action_" + sid + "' size='1' style='vertical-align:top\;'>";
			if (action == 0) {
			_htm = _htm + "<option value='0' selected>Pre-Install</option><option value='1'>Post-Install</option></select>";
			} else {
			_htm = _htm + "<option value='0'>Pre-Install</option><option value='1' selected>Post-Install</option></select>";
			}
			_htm = _htm + "<br><br>";
			// Criteria Order
			_htm = _htm + "<input type='text' name='reqCri_Order_"+sid+"' value='"+sid+"' size='4' style='vertical-align:top\;'>";
			_htm = _htm + "<span style='vertical-align:top\;'>&nbsp;(Order)</span>";
			_htm = _htm + "</div>";
			// Right Column
			//_htm = _htm + '<div class="column-right">';
			_htm = _htm + '<div class="col-md-8">';
			_htm = _htm + '<div id="editor_' + sid +'">'+data+'</div>';
			_htm = _htm + "</div>";

			_htm = _htm + "</div></div>";

			$('.block:last').after(_htm);

			try {
				_name = 'editor_' + sid
				vars[_name] = ace.edit("editor_" + sid);
				vars[_name].setTheme("ace/theme/eclipse");
				vars[_name].getSession().setMode("ace/mode/sh");
				vars[_name].setFontSize('10px');
			} catch (err) {
				console.log("console catch:" + err);
			}

			return vars[_name];
		}

		$('.add').click(function()
		{
			var sid = document.getElementById('reqid').value;
			sid++;
			var _instance = addRow(sid,0,'')
			xeditors.push({ id: sid, instance: _instance });
			document.getElementById('reqid').value = sid;
		});

		$('.optionBox').on('click', '.remove', function()
		{
			var row = $(this).parent().parent().parent();
			var res = row.attr('id').split("_");
			for (i = 0; i < xeditors.length; i++) {
				if (xeditors[i]['id'] == Number(res[1])) {
					xeditors.splice(i, 1);
				}
			}
			row.remove();
		});

	});
</script>

{% endblock %}
