<!DOCTYPE html>

{% block styles %}
	<!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static', filename='yarn_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='yarn_components/sb-admin-2/dist/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="{{ url_for('static', filename='yarn_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

	<link href="{{ url_for('static', filename='yarn_components/jquery-steps-tc/demo/css/jquery.steps.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='css/range.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='yarn_components/selectize/dist/css/selectize.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">

	<style type="text/css" media="screen">
		#spanLink {
			cursor:pointer;
			color:#337ab7;
			text-decoration:underline;
		}

		.wizard .content {
			min-height: 600px;
		}
		.wizard .content > .body {
			width: 100%;
			height: auto;
			padding: 15px;
			position: relative;
		}

		.top-buffer { margin-top:8px; }

		#pkg_preinstall {
			height: 120px;
			width: 520px;
		}

		#pkg_postinstall {
			height: 120px;
			width: 520px;
		}
		.range {
			width: 600px;
		}

		.searchable-select  {
			max-width: 400px;
			min-width: 400px;
			width: 400px !important;
		}
	</style>

{%  endblock %}

{% block bodyPanel %}
{% set ns = namespace() %}
<div class="content">
	<form id="customPatchForm" action="#">
		<div id="wizard">
			<h1>Patch Information</h1>
			<section>
				<h4>Patch Information</h4>
				<hr>
				<div class="container-fluid">
					<div class="form-group">
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Name</label>
							</div>
							<div class="col-md-7">
								<input type="text" name="patch_name" SIZE="80" required="Yes"
									   message="Error [patch name]: A patch name is required." value="{{data.patch_name or ''}}">
							</div>
							<div class="col-md-2">
								<small>(e.g. "FireFox")</small>
							</div>
						</div>

						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Version</label>
							</div>
							<div class="col-md-7">
								<input type="text" name="patch_ver" SIZE="80" required="Yes"
									   message="Error [patch version]: A patch version is required." value="{{data.patch_ver or ''}}">
							</div>
							<div class="col-md-2">
								<small>(e.g. "3.5.4")</small>
							</div>
						</div>

						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Vendor</label>
							</div>
							<div class="col-md-7">
								<input type="text" name="patch_vendor" SIZE="80" value="{{data.patch_vendor or ''}}">
							</div>
							<div class="col-md-2"></div>
						</div>

						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Description</label>
							</div>
							<div class="col-md-7">
								<textarea name="description" cols="80" rows="9">{{data.description or ''}}</textarea>
							</div>
							<div class="col-md-2"></div>
						</div>

						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Info URL</label>
							</div>
							<div class="col-md-7">
								<input type="text" name="description_url" SIZE="80" value="{{data.description_url or ''}}">
							</div>
							<div class="col-md-2"></div>
						</div>

						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Severity</label>
							</div>
							<div class="col-md-7">
								<select name="patch_severity" size="1" required="yes">
									<option>{{data.patch_severity or 'High'}}</option>
									<option>High</option>
									<option>Medium</option>
									<option>Low</option>
									<option>Unknown</option>
								</select>
							</div>
							<div class="col-md-2"></div>
						</div>

						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch State</label>
							</div>
							<div class="col-md-7">
								<select name="patch_state" size="1">
									<option>{{data.patch_state or 'Create'}}</option>
									<option>Create</option>
									<option>QA</option>
									<option>Production</option>
								</select>
							</div>
							<div class="col-md-2"></div>
						</div>

						<div class="row top-buffer">
							<div class="col-md-2">
								<label>CVE ID</label>
							</div>
							<div class="col-md-7">
								<input type="text" name="cve_id" SIZE="80" value="{{data.cve_id or ''}}">
							</div>
							<div class="col-md-2"></div>
						</div>

                        <!-- Use Table View To Update
                        <div class="row top-buffer">
							<div class="col-md-2">
								<label>Active</label>
							</div>
							<div class="col-md-7">
                                <input type="checkbox" name="active" value="1" {% if (data.active or 0) == 1 %}checked="Yes"{% endif %}">
							</div>
							<div class="col-md-2"></div>
						</div>
                        -->

					</div>
				</div>
			</section>
			<h1>Patch Criteria</h1>
			<section>
				<h4>Patch Criteria</h4>
				<hr>
				<div class="container-fluid">
					<div class="form-group">
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>OS Type</label>
							</div>
							<div class="col-md-7">
								<select name="req_os_type" size="1">
									{% for cri in dataCrit %}
									{% if cri.type == "OSType" %}
										<option selected>{{cri.type_data}}</option>
									{% endif %}
									{% endfor %}
									<option>Mac OS X</option>
									<option>Mac OS X Server</option>
									<option>Mac OS X, Mac OS X Server</option>
								</select>
							</div>
							<div class="col-md-2">
								<small>(e.g. "Mac OS X, Mac OS X Server")</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>OS Version</label>
							</div>
							<div class="col-md-7">
								{% for cri in dataCrit %}
								{% if cri.type == "OSVersion" %}
                                    {% set ns.osVerData = cri.type_data  %}
								{% endif %}
								{% endfor %}
								<input type="text" name="req_os_ver" SIZE="50" required="Yes" message="Error [Required OS Version]: A OS version is required." value="{{ns.osVerData or '*'}}">
							</div>
							<div class="col-md-3">
								<small>(e.g. "10.4.*,10.5.*")</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Architecture Type</label>
							</div>
							<div class="col-md-7">
								<select name="req_os_arch" size="1">
									{% for cri in dataCrit %}
									{% if cri.type == "OSArch" %}
										<option selected>{{cri.type_data}}</option>
									{% endif %}
									{% endfor %}
									<option>X86</option>
									<option>PPC</option>
									<option>PPC, X86</option>
								</select>
							</div>
							<div class="col-md-3">
								<small>(e.g. "PPC, X86"; Universal)</small>
							</div>
						</div>

						<input type="hidden" id="reqid" value="0">
						<div class="optionBox">
							<div class="block">
								<span class="add" id='spanLink'><p><h5><img src="/static/img/process_add_16.png"/> Add Criteria</h5></span><p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<h1>Patch Package</h1>
			<section>
				<h4>Patch Package</h4>
				<hr>
				<div class="container-fluid">
					<div class="form-group">
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Group ID</label>
							</div>
							<div class="col-md-7">
								<input type="text" name="bundle_id" SIZE="80" required="Yes"  message="Error [Patch Group ID]: A patch group id is required." value="{{data.bundle_id or ''}}">
							</div>
							<div class="col-md-2">
								<small>(e.g. org.mozilla.firefox)</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>PreInstall Script</label>
							</div>
							<div class="col-md-7">
								<div id="pkg_preinstall">{{data.pkg_preinstall or ''}}</div>
							</div>
							<div class="col-md-2">
								<small>Note: The return code of "0" is True.</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>PostInstall Script</label>
							</div>
							<div class="col-md-7">
								<div id="pkg_postinstall">{{data.pkg_postinstall or ''}}</div>
							</div>
							<div class="col-md-2">
								<small>Note: The return code of "0" is True.</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Package</label>
							</div>
							<div class="col-md-7">
								<br>
								<input type="file" name="mainPatchFile" id="mainPatchFile" message="Error [Patch File]: A patch package name is required.">
								<div style="font-size:10px;padding:10px;">
									<a href="{{baseurl}}mp-content{{data.pkg_url}}" style="font-size:12px;">
										<img src="/static/img/arrow_down.png" height="14"/>{{data.pkg_name or ''}} ({{data.pkg_hash or ''}})
									</a>
								</div>
							</div>
							<div class="col-md-2">
								<small>(Note: The file must be a zipped pkg or mpkg)</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Installer Env Variables</label>
							</div>
							<div class="col-md-7">
								<input type="text" id="env_var" name="pkg_env_var" SIZE="80" value="{{data.pkg_env_var or ''}}">
							</div>
							<div class="col-md-2">
								<small>(Example: ATTR=VALUE,ATTR=VALUE)</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Install Weight</label>
							</div>
							<div class="col-md-7">
								<div class="range range-primary">
									<input name="patch_install_weight" min="0" max="100" step="1" value="{{data.patch_install_weight}}" onchange="rangePrimary.value=value" type="range">
									<output id="rangePrimary">{{data.patch_install_weight}}</output>
								</div>
							</div>
							<div class="col-md-2">
								<small>Sets a patch install weight order.<br>Lower = Earlier</small>
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-2">
								<label>Patch Requires Reboot</label>
							</div>
							<div class="col-md-7">
								<select name="patch_reboot" size="1">
									<option {% if data.patch_reboot == "No" %} Selected {% endif %}>No</option>
									<option {% if data.patch_reboot == "Yes" %} Selected {% endif %}>Yes</option>
								</select>
							</div>
							<div class="col-md-2">&nbsp;</div>
						</div>
					</div>
				</div>
			</section>
            <!--
			<h1>Additional Patches &amp; Save</h1>
			<section>
				<h4>Additional Patches &amp; Save</h4>
				<hr>
				<div class="container-fluid">
					<div class="form-group">

						<div class="optionBoxPre">
							<input type="hidden" id="preid" value="0">
							<div class="blockPre">
								<label>Pre-Requisite Package(s)</label>
								<span class="addPre" id='spanLink'><p><h5><img src="/static/img/pkg_add.png"/> Add Criteria</h5></span><p>
							</div>
						</div>

						<div class="row top-buffer">&nbsp;</div>

						<div class="optionBoxPost">
							<input type="hidden" id="postid" value="0">
							<div class="blockPost">
								<label>Post-Requisite Package(s)</label>
								<span class="addPost" id='spanLink'><p><h5><img src="/static/img/pkg_add.png"/> Add Criteria</h5></span><p>
							</div>
						</div>

					</div>
				</div>
			</section>
			-->
		</div>
		<input type="hidden" name="puuid" value="{{data.puuid}}">
	</form>
</div>
<div id="overlay">
    <img id="overlayImg" src="{{ url_for('static', filename='img/35.gif')}}" style="display:block;margin:auto;padding-top:10%;" />
    <h1 style="text-align: center; color: white; ">Saving...</h1>
    <table width="500" align="center">
        <tr>
            <td>
                <div class="well">
                <label for="exampleInputFile">Upload Progress</label>
                <div id="progress" class="progress">
                    <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                      0%
                    </div>
                </div>
                </div>
            </td>
        </tr>
    </table>
</div>
{%  endblock %}


{% block javascript %}

	<!-- jQuery Step Wizard -->
	<script src="{{ url_for('static', filename='yarn_components/jquery/dist/jquery.min.js') }}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{ url_for('static', filename='yarn_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

	<!-- jquery.steps -->
	<script src="{{ url_for('static', filename='static_components/modernizr/modernizr.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/jquery-steps-tc/build/jquery.steps.js') }}"></script>

	<!-- ACE Editor -->
	<script src="{{ url_for('static', filename='yarn_components/ace-editor-builds/src/ace.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>

	<script>
		$(document).ready(function()
		{
			// Create Global vars
			var vars = {}; // used for global variables on dynamic names
			var xeditors = []; // array of ace editors
			var selectData = [];

			function createCSS(name,rules)
			{
				var style = document.createElement('style');
				style.type = 'text/css';
				document.getElementsByTagName('head')[0].appendChild(style);
				if(!(style.sheet||{}).insertRule) {
					(style.styleSheet || style.sheet).addRule(name, rules);
				} else {
					style.sheet.insertRule(name+"{"+rules+"}",0);
				}
			}

			var _enableFinishButton = true;
			if ( '{{session.role[0]}}' != '1' ) {
				_enableFinishButton = false;
			}
			// jQuery Wizard
			$("#customPatchForm").children("div").steps(
			{
				headerTag: "h1",
				bodyTag: "section",
				enableFinishButton: _enableFinishButton,
				onFinishing: function (event, currentIndex)
				{
					// Add ACE Editor Data to form to post
					var formData = new FormData($('#customPatchForm')[0]);
					var formDataNew = new FormData();

					// Loop and add values to new form data obj
					for (var pair of formData.entries())
					{
						//console.log('Eval: '+pair[0]);
						if (pair[0] == 'mainPatchFile')
						{
							if( $('#mainPatchFile').val() == '' )
							{
								continue;
							}
						}
						//console.log('Append: '+pair[0]);
						formDataNew.append(pair[0], pair[1]);
					}
					// Add the criteria to form dict as needed
					for (i = 0; i < xeditors.length; i++)
					{
						var fName = "reqCri_type_data_" + xeditors[i]['id'];
						formDataNew.append(fName, xeditors[i]['instance'].getValue() );
					}

					var preValue = ace.edit("pkg_preinstall").getValue();
					formDataNew.append('pkg_preinstall', preValue );
					var pstValue = ace.edit("pkg_postinstall").getValue();
					formDataNew.append('pkg_postinstall', pstValue );

					var res = true;
                    $('#overlay').show();
					$.ajax({
                        xhr: function() {
                            var xhr = new window.XMLHttpRequest();
                            xhr.upload.addEventListener('progress',function(e)
                            {
                                if (e.lengthComputable)
                                {
                                    var percent = Math.round((e.loaded / e.total) * 100);
                                    $("#progressBar").attr('aria-valuenow', percent).css('width',percent + '%').text(percent + '%');
                                    if (percent == 100) {
                                        document.getElementById('progress').className += ' progress-striped active';
                                        $("#progressBar").attr('aria-valuenow', percent).css('width',percent + '%').text('Saving Uploaded Patch');
                                    }
                                }
                            });

                            return xhr;
                        },

						type:'POST',
						url: '/patches/customPatchWizard/update',
						data: formDataNew,
						cache: false,
						processData: false,
						contentType: false,
						success: function(){
							alert("Patch Updated Successfully");
							$('#modalDialog').modal('hide');
							res = true;

							$('#overlay').hide();
							parent.closeIFrame();
						},
						error: function(jqXHR, textStatus, errorThrown) {
							alert("Patch Failed to Update");
							res = false;
							$('#overlay').hide();
						}
					});

					return res;
				},
				onFinished: function (event, currentIndex)
				{
					//alert("Submitted!");
                    // console.log("onFinished:");
					// parent.closeIFrame();
				}
			});

			function populateCriteria()
			{
				{% set xi = 1 %}
				{% if hasOSArch == True %}
					{% set orderTypeSize = 4 %}
				{% else %}
					{% set orderTypeSize = 3 %}
				{% endif %}

				{% for cri in dataCritAlt %}
					{% if cri['type_order'] >= orderTypeSize %}
						x = {}
						x['order'] = {{cri['type_order'] or 0}};
						x['type'] = "{{cri['type'] or 'File'}}";
						x['data'] = `{{ cri['type_data'] }}`;
						
						var _instance = addRow(x['order'], x['type'], x['data']);
						xeditors.push({ id: x['order'], instance: _instance });
						document.getElementById('reqid').value = x['order'];
						{% set xi = xi + 1 %}
					{% endif %}
				{% endfor %}

			}

			function getSelectData()
			{
				$('#ch_user1').empty();
				$.ajax({
					type: "GET",
					url:"/patches/custom/picker",
					dataType: "json",
					success: function (data)
					{
						$.each(data, function () {
							$.each(this, function (name, value) {
								selectData.push(value);
							});
						});
					}
				});
			}

			function populateData()
			{
				populateCriteria();
				getSelectData();
			}

			// Call funtion to load any criteria data
			window.onload = populateData();

			// Add Row Ace Editor
			function addRow(sid, action, data)
			{
				if (action != 'Script') {
					createCSS('#editor_' + sid,"height: 40px; width: 600px;white-space: pre;");
				} else {
					createCSS('#editor_' + sid,"height: 240px; width: 600px;white-space: pre;");
				}

				var _htm =    '<div class="block" id="row_'+sid+'">';

				// Row
				_htm = _htm + '<div class="row top-buffer">';

				// Left Column
				_htm = _htm + '<div class="col-md-2">';
				// Remove Image
				_htm = _htm + '<span class="remove"><img src="/static/img/cancel.png" style="vertical-align:top;margin-top:2px;" height="14" width="14"></span>';
				_htm = _htm + "&nbsp;";

				// Criteria Type
				_htm = _htm + "<select name='reqCri_type_"+ sid +"' id='reqPatchCriteria"+ sid +"' size='1' style='vertical-align:top;'>";
				_htm = _htm + "<option " + (action == 'BundleID' ? 'Selected' : '') + ">BundleID</option>";
				_htm = _htm + "<option " + (action == 'File' ? 'Selected' : '') + ">File</option>";
				_htm = _htm + "<option " + (action == 'Script' ? 'Selected' : '') + ">Script</option></select>";

				_htm = _htm + "</div>"; //Left

				// Center Column
				_htm = _htm + '<div class="col-md-7">';
				_htm = _htm + '<div id="editor_' + sid +'">'+data+'</div>';
				_htm = _htm + '</div>'; //Center

				// Right Column
				_htm = _htm + '<div class="col-md-2">';
				_htm = _htm + "<input type='text' name='reqCri_Order_"+sid+"' value='"+sid+"' size='4'><small>(Order)</small>";
				_htm = _htm + '</div>'; // Right

				_htm = _htm + "</div>"; // Row
				_htm = _htm + "</div>"; // Block

				$('.block:last').after(_htm);

				try {
					_name = 'editor_' + sid
					vars[_name] = ace.edit("editor_" + sid);
					vars[_name].setTheme("ace/theme/eclipse");
					vars[_name].getSession().setMode("ace/mode/sh");
					vars[_name].setFontSize('10px');
					//vars[_name].insert(data); // This way the encoding gets all messed up
				} catch (err) {
					console.log("console catch:" + err);
				}

				return vars[_name];
			}

			function addRequisit(sid, type)
			{
				// "addFormField('prePatchPKG','preid','divTxtPre');
				var _name = "prePatchPKG";
				var _htm = '<div class="blockPre" id="'+_name+'_row_'+sid+'">';

				if (type == 1) {
					_name = "postPatchPKG";
					_htm = '<div class="blockPost" id="'+_name+'_row_'+sid+'">';
				}

				// Row
				_htm = _htm + '<div class="row top-buffer">';

				// Left Column
				_htm = _htm + '<div class="col-md-2">';
				// Remove Image
				_htm = _htm + '<span class="remove"><img src="/static/img/cancel.png" style="vertical-align:top;margin-top:2px;" height="14" width="14"></span>';
				_htm = _htm + "&nbsp;";
				// Order
				_htm = _htm + "<input type='text' name='reqCri_Order_"+sid+"' value='"+sid+"' size='4'><small>(Order)</small>";
				_htm = _htm + "</div>"; //Left

				// Right Column
				_htm = _htm + '<div class="col-md-6">';
				_htm = _htm + "<select name='"+ _name + "_" + sid +"' id='"+ _name + sid +"' size='1' style='vertical-align:top;'></select>";
				_htm = _htm + '</div>'; // Right

				_htm = _htm + "</div>"; // Row
				_htm = _htm + "</div>"; // Block

				if (type == 0) {
					$('.blockPre:last').after(_htm);
				} else {
					$('.blockPost:last').after(_htm);
				}

				return _name + sid;
			}

			$(document.body).on('change','select',function()
			{
				function css(selector, property, value)
				{
					for (var i=0; i<document.styleSheets.length;i++) {//Loop through all styles
						//Try add rule
						try { document.styleSheets[i].insertRule(selector+ ' {'+property+':'+value+'}', document.styleSheets[i].cssRules.length);
						} catch(err) {try { document.styleSheets[i].addRule(selector, property+':'+value);} catch(err) {}}//IE
					}
				}

				var id = $(this).attr("id");

				if ( id.includes("reqPatchCriteria") )
				{
					var res = id.replace("reqPatchCriteria", "");
					var name = "#editor_"+res;

					var e = document.getElementById(id);
					var _val = e.options[e.selectedIndex].text;

					if (_val != "Script") {
						css(name, 'height', '40px');
					} else {
						css(name, 'height', '240px');
					}
				}
			});

			$('.add').click(function()
			{
				var sid = document.getElementById('reqid').value;
				sid++;
				var _instance = addRow(sid,0,'')
				xeditors.push({ id: sid, instance: _instance });
				document.getElementById('reqid').value = sid;
			});

			$('.addPre').click(function()
			{
				var sid = document.getElementById('preid').value;
				sid++;
				var _id = addRequisit(sid,0)

				var idName = "#"+_id;

				$(idName).append("<option value=''>...</option>");

				for (var key in selectData) {
					$(idName).append("<option value='" + selectData[key].puuid + "'>" + selectData[key].patch_name + " (" + selectData[key].patch_ver + ")</option>");
				}

				$(idName).selectize({
					create: true,
					sortField: {field: 'text'}
				});

				document.getElementById('preid').value = sid;
			});

			$('.addPost').click(function()
			{
				var sid = document.getElementById('postid').value;
				sid++;
				var _id = addRequisit(sid,1)

				var idName = "#"+_id;

				$(idName).append("<option value=''>...</option>");

				for (var key in selectData) {
					$(idName).append("<option value='" + selectData[key].puuid + "'>" + selectData[key].patch_name + " (" + selectData[key].patch_ver + ")</option>");
				}

				$(idName).selectize({
					create: true,
					sortField: {field: 'text'}
				});

				document.getElementById('postid').value = sid;
			});

			$('.optionBox').on('click', '.remove', function()
			{
				var row = $(this).parent().parent().parent();
				var res = row.attr('id').split("_");
				for (i = 0; i < xeditors.length; i++) {
					if (xeditors[i]['id'] == Number(res[1])) {
						xeditors.splice(i, 1);
					}
				}
				row.remove();
			});

			$('.optionBoxPre').on('click', '.remove', function()
			{
				var row = $(this).parent().parent().parent();
				row.remove();
			});

			$('.optionBoxPost').on('click', '.remove', function()
			{
				var row = $(this).parent().parent().parent();
				row.remove();
			});

			var preinstall = ace.edit("pkg_preinstall");
            preinstall.setTheme("ace/theme/eclipse");
            preinstall.setFontSize('10px');
            preinstall.getSession().setMode("ace/mode/sh");

            var postinstall = ace.edit("pkg_postinstall");
            postinstall.setTheme("ace/theme/eclipse");
            postinstall.setFontSize('10px');
            postinstall.getSession().setMode("ace/mode/sh");
		});
	</script>
{% endblock %}
