{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='yarn_components/bootstrap-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{% endblock %}

{% block pageHeader %}
Patch Groups
{% endblock %}

{% block bodyPanel %}
	<table id="table" data-toolbar="#toolbar" data-show-export="true">
		<div id="toolbar">
			<button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
		</div>
	</table>
{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
	<script>

	$( document ).ready(function()
	{
		$('#table').bootstrapTable(
		{
			striped: true,
			pagination: true,
			sidePagination: 'client',
			pageList: ['10', '20', '50', '100', 'All'],
			search: true,
			showRefresh: false,
			resizable: true,
			sortable: true,
			showColumns: true,
			icons: {
				refresh: 'fa fa-refresh',
				toggle: 'fa fa-th-list',
				columns: 'fa fa-columns',
				detailOpen: 'glyphicon glyphicon-info-sign',
				detailClose: 'glyphicon glyphicon-minus-sign'
			},
			idField: 'supatchname',

			columns: [
			{
				field: 'operate',
				title: '',
				align: 'center',
				events: operateEvents,
				formatter: operateFormatter
			},
			{% for col in columns %}
			{
				field: '{{col[0]}}',
				title: '{{col[1]}}',
				{% if col[0] ==  'rid' or col[0] ==  'id'%}
				visible: false,
				{% endif %}
				sortable: true
			},
			{% endfor %}
			{
				field: 'members',
				visible: false
			},
			],
			data: [
			{% for row in data %}
			{
			{% for col in columns %}
				{% if col[0] ==  'user_id' %}
					{{col[0]}}: '{{row['owner']}}',
				{% elif col[0] ==  'type' %}
					{{col[0]}}:
					{% if row['type'] == 2 %}
						'Dev',
					{% elif row['type'] == 1 %}
						'QA',
					{% elif row['type'] == 0 %}
						'Production',
					{% else %}
						'NA',
					{% endif %}
				{% else %}
					{{col[0]}}: '{{row[col[0]]}}',
				{% endif %}
			{% endfor %}
					members: '{{row['members']|safe}}',
			},
			{% endfor %}
			]
		});
	});

	function operateFormatter(value, row, index)
	{
		var hasRights = false;
		var htmlData = [];
		var mem = row['members']
		if( mem.indexOf('{{session.user}}') > -1 ) {
			hasRights = true;
		}

		htmlData.push('<table>');
		htmlData.push('<tr><td>');
		if ( hasRights || '{{session.role[0]}}' == 1 ) {
			htmlData.push('<a class="patches" href="javascript:void(0)" title="Add/Remove Patches">');
			htmlData.push('<i class="fa fa-list-ul" aria-hidden="true"></i></a>');

			if ( row['user_id'] == '{{session.user}}' || '{{session.role[0]}}' == 1 ) {
			    htmlData.push('</td><td>');
                htmlData.push('<a class="edit" href="javascript:void(0)" title="Edit Patch Group Info">');
                htmlData.push('<i class="fa fa-pencil" aria-hidden="true"></i></a>');
                htmlData.push('</td><td>');
            }
			htmlData.push('<a class="admins" href="javascript:void(0)" title="Patch Group Admins">');
            htmlData.push('<i class="fa fa-users" aria-hidden="true"></i></a>');
            if ( row['user_id'] == '{{session.user}}' || '{{session.role[0]}}' == 1 ) {
                htmlData.push('</td><td>');
                htmlData.push('<a class="remove" href="javascript:void(0)" title="Remove Patch Group">');
			    htmlData.push('<i class="fa fa-trash-o"></i></a>');
            }
            htmlData.push('</td>');
		} else {
			htmlData.push('<a class="patches" href="javascript:void(0)" title="View Patches">');
			htmlData.push('<i class="fa fa-search" aria-hidden="true"></i></a>');
			htmlData.push('</td><td>');
			htmlData.push('<a class="admins" href="javascript:void(0)" title="Patch Group Admins">');
            htmlData.push('<i class="fa fa-users" aria-hidden="true"></i></a>');
            htmlData.push('</td>');
		}

		htmlData.push('</tr></table>');
		return htmlData.join('');
	}

	var $table = $('#table'), $addButton = $('#addButton');
	$(function () {
		$addButton.click(function ()
		{
			$.get( "/patches/patchGroups/add").done(function(data)
			{
				resetModalWindow();

				/* New Content */
				var innerHTML = '<div id="myContent">' + data + '</div>';

				/ * Show Modal Window */
				$('#modaliFrame').remove();
				$('#modalTitle').html('New Patch Group');
				$('#modalBody').css({'height':'200px'});
				$('#modalBody').html(innerHTML);
				$('#modalDialog').modal('show');
			});
		});
	});

	window.operateEvents =
	{
		'click .edit': function (e, value, row, index)
		{
			$.get( "/patches/patchGroups/edit/" + row['id']).done(function(data)
			{
				resetModalWindow();
				/* New Content */
				var innerHTML = '<div id="myContent">' + data + '</div>';

				/* Show Modal Window */
				$('#modalTitle').html('Edit Patch Group');
				$('#modalCloseButton').remove();
				$('#modalBody').css({'height':'200px'});
				$('#modalBody').html(innerHTML);
				$('#modalDialog').modal('show');
			});
		},
		'click .patches': function (e, value, row, index)
		{
			resetModalWindow();

			var _url = "/patches/group/edit/" + row['id'];
			var innerHTML = '<iframe src="' + _url + '" id="modaliFrame"' +
			 ' frameborder="0" allowtransparency="true"' +
			 ' style="width: 98%; height: 98%; position: absolute"></iframe>';

			$('#modalTitle').html('Add/Remove Patches : ' + row['name']);
			$('#modalCloseButton').remove();
			$('#modalBody').html(innerHTML);
			$('#modalBody').css({'height':'80vh'});
			$('#modalDialog').addClass("modal-wide");
			$('#modalFooter').hide();
			$('#modalDialog').modal('show');
		},
		'click .remove': function (e, value, row, index)
		{
			if (confirm('Are you sure you want to delete this patch group (' + row['name'] +') ?'))
			{
				$.post( "/patches/patchGroups/delete/" + row['id']).done(function(data)
				{
					var response = jQuery.parseJSON(data);
					// e.g. data = {'error': 0}
					if (response.error == 0) {
						$('#table').bootstrapTable('remove', {
							field: 'id',
							values: [row.id]
						});
						// Update patch group count label
						var dLen = $('#table').bootstrapTable('getData').length;
						$("#labelPatchGroupCount").html(dLen);
					} else {
						resetModalWindow();

						$('#modalSaveButton').hide();
						$('#modalCancelButton').html('Close');
						$('#modalTitle').html('Error, Removing Patch Group');
						$('#modalBody').html('Delete item error!');
						$('#modalBody').css({'height':'200px'});
						$('#modalHeader').addClass('panel-heading');
						$('#modalContent').addClass('panel-danger');
						$('#modalDialog').modal('show');
					}
				});
			}
		},
		'click .admins': function (e, value, row, index)
		{
			$.get( "/patches/patchGroups/admins/" + row['id']).done(function(data)
			{
				resetModalWindow();

				/* New Content */
				var innerHTML = '<div id="myContent">' + data + '</div>';

				/* Show Modal Window */
				$('#modalTitle').html('Edit Patch Group Admins');
				$('#modalBody').html(innerHTML);
				$('#modalBody').css({'height':'60vh'});
				$('#modalDialog').addClass("modal-mid");
				$('#modalFooter').hide();
				$('#modalDialog').modal('show');
			});
		},
	};

	</script>
{% endblock %}
