@charset "UTF-8";
/* CSS Document */
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
	padding-top: 8px;
	padding-bottom: 4px;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	padding-top: 8px;
	padding-bottom: 4px;
}

h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:bold;
	padding-top: 8px;
	padding-bottom: 4px;
}

h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 4px;
}
