@charset "UTF-8";
/* CSS Document */

html{
   height: 100%;
   width: 100%;
   margin: 0em;
   padding: 0em;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top:0px; margin-left:0px; margin-right:0px; 
	text-align: center;
	background-color:#E7E7E7;
	height:100%;
}

img {border:none;}

a {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
	color: #FFFFFF;
	border: none;
}

a:link { text-decoration: none;}
a:visited { text-decoration: none;} 
a:hover {
	color: #6699CC;
} 

a#normal {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 12px;
	color: #000000;
}

td.normal {
	background-color: #FFFFFF;
	padding: 4px;
	font-size:11px;
}

td.warn { 
	background-color: #FFCC00;
	padding: 4px;
	font-size:11px;
}

td.alert { 
	background-color: #FF3300;
	padding: 4px;
	font-size:11px;
}


#headermain {
	margin: 0 auto;
	width: 1100px;
    align: center;
}

#container {
    // For the Banner
	margin: 0 auto;
    width: 1100px;
    align: center;
    color: #FFFFFF;
}

#container table {
    width: 100%;
    align: center;
}

#container td {
    color: white;
}

#headermain {
	font-family: Arial, Helvetica, sans-serif; 
	font-size:11px;
	margin: 0 auto;
	width: 1100px;
}

#headermain td {
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px;
	color: white;
}

#headerbanner {
    margin: 0 auto;
	width: 1100px;
	//width: 100%;
}

#headerbanner img {
    vertical-align:bottom;
}


#headermenu {
    margin: 0 auto;
	width: 1100px;
	//width: 100%;
}

.headermenuIndentFirst {
	padding-left:20pt;
	padding-right:10pt;
}

.headermenuIndentMiddle {
	padding-left:10pt;
	padding-right:10pt;
}

#headerStatusBar {
    margin: 0 auto;
    background-color: white;
    text-align: right;
    text-transform: after
}

#bodymain {
	background-color: white;
	margin: 0 auto;
	width: 1100px;
	
	
}

#bodycontainer {
    background-color: white;
	margin: 0 auto;
	width: 1080px;
	text-align: left;
}

table#resultsList td2 {
	background-color:#FF3300;
	padding: 4px;
	font-size:11px;
}

#normalize {
	color: #000000; 
	padding: 4px;
	font-size:11px;
}

#normalize a {
	color: #000000; 
	padding: 4px;
	font-size:12px;
}

#normalize a:hover {
	color: #000000; 
}

.title {
	color: #000000; 
	padding: 4px;
	font-size:14px;
}

.titleLogin {
	font-size:14px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
}

table.tableinfo { 
	background-color:#000000;
	border-spacing: 1px;
} 

table.tableinfo a {
    color: #000000;
}

table.tableinfo a:hover {
	color: #003366;
}

table.tableinfo th { 
	background-color: #CCCCCC;
	padding: 4px;
	text-align:center;
	font-size:13px;
} 
table.tableinfo td { 
	background-color: #FFFFFF;
	padding: 4px;
	font-size:11px;
} 

/* Start --- Results list table layout 

table.resultsList {
	background-color:#000000;
	border-spacing: 1px;
}

table.resultsList th {
	background-color: #CCCCCC;
	padding: 2px;
	text-align:center;
	font-size:13px;
}

table.resultsList th a {
	background-color: #CCCCCC;
	padding: 2px;
	text-align:center;
	font-size:13px;
	color: #000000;
}

table.resultsList td {
	color: #000000;
	padding: 4px;
	font-size:11px;
}
*/
/*
table.resultsList a {
    color: #000000;
}

table.resultsList td a {
    color: #000000;
	font-size:11px;
	text-align:center;
}

table.resultsList a:hover {
	color: #003366;
}

tr.row0 {
	color: #000000;
	background-color: white;
	padding: 4px;
	font-size:11px;
}

tr.row1 {
	color: #000000;
	background-color: #EDF3FE;
	padding: 4px;
	font-size:11px;
}
*/
/* END --- Results list table layout 
	
table#resultsList {
    background-color:#000000;
}

table#resultsList th {
    background-color: #CCCCCC;
	padding: 4px;
	text-align:center;
	font-size:14px;
}

table#resultsList th a {
    color: #000000;
}

table#resultsList td {
    background-color: #FFFFFF;
	padding: 4px;
	font-size:11px;
}

table#resultsList td a {
    color: #000000;
	font-size:11px;
}

table#resultsList a:hover {
	color: #003366;
}

#myBody {
	margin: 0 auto;
	width: 1100px;
	text-align: left;
	background-color:#000000;
	min-height:100%;
}
*/
/*
.tableinfo { 
	background-color:#000000; 
} 

.tableinfo a {
    color: #000000;
}

.tableinfo a:hover {
	color: #003366;
}

.tableinfo th { 
	background-color: #CCCCCC;
	padding: 4px;
	text-align:center;
	font-size:13px;
} 
.tableinfo td { 
	background-color: #FFFFFF;
	padding: 4px;
	font-size:11px;
} 

.tableinfo .normal { 
	background-color: #FFFFFF;
	padding: 4px;
	font-size:11px;
}

.tableinfo .warn { 
	background-color: #FFCC00;
	padding: 4px;
	font-size:11px;
}

.tableinfo .alert { 
	background-color: #FF3300;
	padding: 4px;
	font-size:11px;
}

.indent1 {
	text-indent: 20px;
}


.style1 {
    color: #FFFFFF;
}    
*/