/* jQgrid Styles */

.xAltRow { background-color: #F0F8FF; background-image: none; color: #000; }

.ui-jqgrid {font-size:12px;}
.ui-jqgrid .ui-jqgrid-titlebar {font-size:18px; font-weight:bold; font-style:italic;}
.ui-jqgrid .ui-jqgrid-htable th {font-size:12px; font-weight:bold; vertical-align:bottom;}
.ui-jqgrid .ui-jqgrid-pager { font-size: 12px; vertical-align:center;}
.ui-jqgrid-btable .ui-state-highlight { background: yellow; }

.dimImg {
		filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.EditTable td { align: left; }
