{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-table-editable.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mp.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
	Provisioning - Software Tasks
{%  endblock %}

{% block bodyPanel %}

	<table id="table" class="table table-condensed" data-toolbar="#toolbar">
		<div id="toolbar">
			{% if session.role[0] == 1 %}
			<button id="addButton" type="button" class="btn btn-default" title="New Software Task"><i class="glyphicon glyphicon-plus"></i></button>
			<button id="deleteButton" type="button" class="btn btn-default" title="Delete Software Task"><i class="glyphicon glyphicon-trash"></i></button>
			{% endif %}
		</div>
	</table>

{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='static_components/bootstrap-table-editable/bootstrap-table-editable.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-editable/js/index.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/colresizable/colResizable-1.6.min.js') }}"></script>
	<script>

	function operateFormatter(value, row, index)
	{
		return [
			{% if session.role[0] == 1 %}
			'<a class="edit" href="javascript:void(0)" title="Edit">',
			'<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>',
			'</a>&nbsp;'
			{% endif %}
		].join('');
	}

	window.operateEvents =
	{
		'click .edit': function (e, value, row, index)
		{
			var _url = "/provision/task/edit/" + row['tuuid'];
			$.get(_url).done(function(data)
			{
				resetModalWindow();
				$('#modalTitle').html('New Provisioning Software Task');
				$('#modalCancelButton').html('Cancel');
				$('#modalBody').html(data);
				//$('#modalBody').css({'height':'88vh'});
				$('#modalDialog').addClass("modal-wide");
				$('#modalDialog').modal('show');

				$("#modalDialog").on("hidden.bs.modal", function () {
					//$profilesTable.bootstrapTable('refresh');
				});
			});
		}
	};


	$( document ).ready(function()
	{
			$('#table').bootstrapTable(
			{
                url: "/provision/tasks/list",
                striped: true,
                pagination: true,
                sidePagination: 'client',
                showRefresh: true,
                pageList: ['10', '25', '50', '100', 'All'],
                search: true,
                idField: 'tuuid',
                sortable: true,
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'glyphicon glyphicon-info-sign',
                    detailClose: 'glyphicon glyphicon-minus-sign'
                },
                columns: [
                {% if session.role[0] == 1 %}
                {
                        field: 'state',
                        checkbox: true,
                        rowspan: 1,
                        align: 'center',
                        valign: 'middle'
                },
                {% endif %}
                {
                    field: 'operate',
                    title: '',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                },
                {% for col in columnsAll %}
                    {% if col.name in columns %}
                        {
                            field: '{{col.name}}',
                            title: '{{col.info}}',
                            {% if col.name ==  'tuuid' %}
                            visible: false,
                            {% endif %}
                            {% if col.name ==  'primary_suuid' %}
                            visible: false,
                            {% endif %}
                            {% if col.name ==  'mdate' %}
                            visible: false,
                            {% endif %}
                            sortable: true,

                            {% if col.name == 'active' and session.role[0] == 1 %}
                            editable: {
                                type: 'select',
                                url:  '/provision/task/active',
                                source: [
                                    {value: 0, text: 'False'},
                                    {value: 1, text: 'True'},
                                ]
                            },
                            {% endif %}
                            {% if col.name == 'scope' and session.role[0] == 1 %}
                            editable: {
                                type: 'select',
                                url:  '/provision/task/scope',
								source: [
                                    {value: 0, text: 'QA'},
                                    {value: 1, text: 'Production'},
                                ]
                            },
                            {% endif %}
                        },
                    {% endif %}

                {% endfor %}
                ]
            });

	});

	var $table = $('#table'), $delBut = $('#deleteButton'), $addBut = $('#addButton'), $expBut = $('#exportButton'), $impBut = $('#importButton');
	$(function () {

		$delBut.click(function ()
		{
			var rows = $table.bootstrapTable('getAllSelections');
			var rowsArr = [];
			for (x in rows) {
				var _tID = rows[x]['tuuid'];
				rowsArr.push(_tID);
			}

			var _url = "/provision/task/remove";
			$.ajax({
				url: _url,
				type: 'DELETE',
				cache: false,
				data: {'tasks':rowsArr.toString()},
				error: function (request, status, error)
				{
					jsonValue = jQuery.parseJSON( request.responseText );
					alert(jsonValue.errormsg);
				},
				success: function () {
					$table.bootstrapTable('remove', {
						field: 'tuuid',
						values: rowsArr
					});
					$table.bootstrapTable('refresh');
					alert("Task(s) removed successfully.");
				}
			});
		});

		$addBut.click(function ()
		{
			$.get("/provision/task/new").done(function(data)
			{
				resetModalWindow();
				$('#modalTitle').html('New Provisioning Software Task');
				$('#modalCancelButton').html('Cancel');
				$('#modalBody').html(data);
				$('#modalDialog').addClass("modal-wide");
				$('#modalDialog').modal('show');

				$("#modalDialog").on("hidden.bs.modal", function () {
					$table.bootstrapTable('refresh');
				});
			});
		});

		$expBut.click(function ()
		{
			alert("Export Called, not done!");
		});

		$impBut.click(function ()
		{
			alert("Import Called, not done!");
		});
	});

	/* Function used to close Modal window from iframe */
	function closeIFrame()
	{
		$('#modalDialog').modal('hide');
	}

	</script>
{% endblock %}
