/*
   Add the following to your CSS file should you wish the cursor to
   "wait" while the script is processing the sort

body.sort-active *
        {
        cursor:wait;
        }
*/

h2 span
        {
        font-variant:small-caps;
        }
p a
        {
        font-weight:normal;
        outline:none;
        }
p a:link,
p a:visited
        {
        color:#333;
        text-decoration:underline;
        }
p a:hover
        {
        color:#fff;
        text-decoration:none;
        background:#000;
        }
p a:active
        {
        color:#000;
        text-decoration:underline;
        }
code
        {
        font-family:'andale mono','lucida console','courier new',monospace;
        font-size:1em;
        }
p
        {
        line-height:1.6em;
        margin:0 0 1em 0;
        }
table
        {
        padding: 0;
        margin: 0 auto 1.5em auto;
        border-left: 1px solid #808080;
        border-collapse:collapse;
        }
.cs1
        {
        width:30em;
        }
.cs2
        {
        width:20em;
        }
.cs1 td,
.cs2 td,
#scientificNotation
        {
        text-align:right;
        }
caption
        {
        padding: 0 0 5px 0;
        margin:0 auto;
        width:auto;
        font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: right;
        }
th
        {
        font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        border-right: 1px solid #808080;
        border-bottom: 1px solid #808080;
        border-top: 1px solid #808080;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        padding: 8px 12px 4px 12px;
        background: #D3D3D3 url(themes/blue/bg_header.jpg) no-repeat;
        vertical-align:middle;
        }
td.total
        {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #808080; //#808080;
        background: none;
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime
        {
        cursor:pointer;
        background: #D3D3D3 url(themes/blue/bg.gif) no-repeat;
		background-position:left; 
        padding: 8px 12px 4px 20px;
        }
th.forwardSort
        {
        background:#D3D3D3 url(themes/blue/asc.gif) no-repeat 0 0;
        background-position:left;
        }
th.reverseSort
        {
        background:#D3D3D3 url(themes/blue/desc.gif) no-repeat 0 0;
        background-position:left;
        }
table thead th.forwardSort a,
table thead th.reverseSort a
        {
        color:#000;
        text-decoration:none;
        }
th a
        {
        text-decoration:none;
        color: #000;
        background:transparent;
        }
td a
        {
        text-decoration:none;
        color:#239;
        background:transparent;
        }
td img
        {
        margin:0 auto;
        border:3px solid #ddd;
        }
td a:hover
        {
        color:#a84444;
        border-bottom:1px dotted #a80000;
        background:transparent;
        }
td
        {
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #808080;
        border-bottom: 1px solid #808080;
        padding: 6px 12px 6px 12px;
        color: #000;
        }
td.lft
        {
        text-align:left;
        }
tr.alt
        {
        background: #EDF3FE;
        color: #000;
        }

/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) 
tr[class="alt"] td
        {
        background: #F5FAFA url(../media/td_alt.jpg) no-repeat;
        }
td[class~="alt"]
        {
        background: #edf3f3 url(../media/col_alt.jpg) no-repeat !important;
        }
*/        
/* Image free rules for Internet Explorer < 7 
* html tr.alt td
        {
        background-color:#EDF3FE;
        }
* html tr td.alt,
* html tr.alt td.alt
        {
        background-color:#edf3f3;
        }
        */