<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>gov.llnl.mp.tomcat</string>
        <key>ServiceDescription</key>
        <string>MacPatch Tomcat Container</string>
        <key>WorkingDirectory</key>
        <string>/opt/MacPatch/Server/apache-tomcat</string>
        <key>EnvironmentVariables</key>
        <dict>
                <key>CATALINA_HOME</key>
                <string>/opt/MacPatch/Server/apache-tomcat</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
                <string>/opt/MacPatch/Server/apache-tomcat/bin/launchdTomcat.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>UserName</key>
        <string>_appserver</string>
        <key>StandardErrorPath</key>
        <string>/opt/MacPatch/Server/apache-tomcat/logs/stderr.log</string>
        <key>StandardOutPath</key>
        <string>/opt/MacPatch/Server/apache-tomcat/logs/stdout.log</string>
</dict>
</plist>