<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>gov.llnl.mp.AVDefsSync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/MacPatch/Server/conf/scripts/MPAVDefsSync.py</string>
		<string>-p</string>
		<string>/opt/MacPatch/Server/conf/etc/gov.llnl.mpavdl.plist</string>
		<string>-r</string>
	</array>
	<key>StartInterval</key>
	<integer>43200</integer>
	<key>ServiceDescription</key>
	<string>MacPatch SAV AV Defs Downloader</string>
	<key>StandardOutPath</key>
	<string>/opt/MacPatch/Server/logs/MPAVDefsSync_stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/opt/MacPatch/Server/logs/MPAVDefsSync_stderr.log</string>
</dict>
</plist>
