[Unit]
Description=MacPatch Tomcat Service
After=syslog.target network.target

[Service]
Type=forking

ExecStart=/opt/MacPatch/Server/apache-tomcat/bin/startup.sh
ExecStop=/opt/MacPatch/Server/apache-tomcat/bin/shutdown.sh

User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target