<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ASUSServer</key>
	<string>http://swscan.apple.com</string>
	<key>Catalogs</key>
	<array>
		<dict>
			<key>catalogurl</key>
			<string>content/catalogs/others/index-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>osver</key>
			<string>10.7</string>
		</dict>
		<dict>
			<key>catalogurl</key>
			<string>content/catalogs/others/index-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>osver</key>
			<string>10.8</string>
		</dict>
		<dict>
			<key>catalogurl</key>
			<string>content/catalogs/others/index-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>osver</key>
			<string>10.9</string>
		</dict>
		<dict>
            <key>catalogurl</key>
            <string>content/catalogs/others/index-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
            <key>osver</key>
            <string>10.10</string>
    	</dict>
	</array>
	<key>MPServerAddress</key>
	<string>localhost</string>
	<key>MPServerPort</key>
	<string>3601</string>
	<key>MPServerUseSSL</key>
	<false/>
</dict>
</plist>
