#
# OpenSSL example configuration file.
# This is mostly being used for generation of certificate requests.
#

# This definition stops the following lines choking if HOME isn't
# defined.
HOME                    = /Library/MacPatch/Server/conf/ssl
RANDFILE                = $ENV::HOME/.rnd

# Extra OBJECT IDENTIFIER info:
oid_file				= $ENV::HOME/.oid
oid_section             = new_oids

[ new_oids ]
# We can add new OIDs in here for use by 'ca' and 'req'.
# Add a simple OID like this:
# testoid1=1.2.3.4
# Or use config file substitution like this:
# testoid2=${testoid1}.5.6

####################################################################
[ ca ]
default_ca      = CA_default            # The default ca section

####################################################################
[ CA_default ]

dir             = /Library/MacPatch/Server/conf/ssl/ca	# Where everything is kept
certs           = $dir/certs            			# Where the issued certs are kept
crl_dir         = $dir/crl              			# Where the issued crl are kept
database        = $dir/index.txt        			# database index file.
new_certs_dir   = $dir/newcerts	         			# default place for new certs.

certificate     = $dir/ca.crt		       			# The CA certificate
serial          = $dir/serial           			# The current serial number
#crlnumber       = $dir/crlnumber        			# the current crl number
                                       	
crl             = $dir/ca.crl          				# The current CRL
private_key     = $dir/ca.key						# The private key
RANDFILE        = $dir/.rand    					# private random number file

# Comment out the following two lines for the "traditional"
# (and highly broken) format.
name_opt	        	= ca_default            # Subject Name options
cert_opt    	    	= ca_default            # Certificate field options

default_days	    	= 3650                  # how long to certify for
default_crl_days		= 30                    # how long before next CRL
default_md      		= md5	                # which md to use.
preserve        		= no                    # keep passed DN ordering

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy		          	= policy_match

[ policy_match ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = match
commonName              = supplied
emailAddress            = optional

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

####################################################################
[ req ]
default_bits            = 1024
default_keyfile         = privkey.key
distinguished_name      = req_distinguished_name
attributes              = req_attributes

x509_extensions 		= v3_ca # The extentions to add to the self signed cert

# Passwords for private keys if not present they will be prompted for
# input_password = secret
# output_password = secret

string_mask = nombstr

req_extensions 					= v3_req # The extensions to add to a certificate request

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
countryName_default             = US
countryName_min                 = 2
countryName_max                 = 2

stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = California

localityName                    = Locality Name (eg, city)
localityName_default            = Livermore

0.organizationName              = Organization Name (eg, company)
0.organizationName_default      = MacPatch

organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default  = MacPatch Server

commonName                      = Common Name (eg, YOUR name)
commonName_max                  = 255

emailAddress                    = Email Address
emailAddress_max                = 255

# SET-ex3                       = SET extension number 3

[ req_attributes ]
challengePassword               = A challenge password
challengePassword_min           = 4
challengePassword_max           = 20

unstructuredName                = An optional company name

[ usr_cert ]
basicConstraints				= CA:FALSE
nsComment               		= "OpenSSL Generated Certificate"
subjectKeyIdentifier			= hash
authorityKeyIdentifier			= keyid,issuer

[ v3_ca ]
basicConstraints 				= CA:true
subjectKeyIdentifier			= hash
authorityKeyIdentifier			= keyid:always,issuer:always

[ v3_req ]
basicConstraints 				= CA:FALSE
subjectKeyIdentifier			= hash
keyUsage 						= nonRepudiation, digitalSignature, keyEncipherment

[ crl_ext ]
authorityKeyIdentifier			= keyid:always,issuer:always

[ client_cert ]      
# These extensions are added when 'ca' signs a request.
authorityKeyIdentifier			= keyid,issuer                    
subjectKeyIdentifier			= hash                    
subjectAltName					= email:move                    
issuerAltName					= issuer:copy                    
basicConstraints				= CA:FALSE                    
nsCertType 						= client, email, objsign
keyUsage 						= nonRepudiation, digitalSignature, keyEncipherment
