<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - MacPatch</title>
        
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/llnl.css') }}">

		<!-- Custom Fonts -->
		<script src="{{ url_for('static', filename='js/font-awesome/5.15.3/all.min.js') }}" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
										<img class="center-block" src="{{ url_for('static', filename='img/mp_3_icon_90.png') }}" alt="Logo" style="width:72px; height:72px; border-radius: 50%;">
										<h3 class="text-center font-weight-light my-4">MacPatch</h3>
									</div>
                                    <div class="card-body">
                                        <div class="container-fluid px-4 align-items-center">
                                            
                                            <h6 class="text-center font-weight-light my-4">**WARNING**WARNING**WARNING**WARNING**</h6>
                                            <p>
                                                <small>
                                                This is a Department of Energy (DOE) computer system. DOE computer systems are provided for the processing of official U.S. Government information only. All data contained within DOE computer systems is owned by the DOE, and may be audited, intercepted, recorded, read, copied, or captured in any manner and disclosed in any manner, by authorized personnel. THERE IS NO RIGHT OF PRIVACY IN THIS SYSTEM. System personnel may disclose any potential evidence of crime found on DOE computer systems to appropriate authorities.
                                                USE OF THIS SYSTEM BY ANY USER, AUTHORIZED OR UNAUTHORIZED, CONSTITUTES CONSENT TO THIS AUDITING, INTERCEPTION, RECORDING, READING, COPYING, CAPTURING, AND DISCLOSURE OF COMPUTER ACTIVITY.
                                                </small>
                                            </p>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form role="form" action="" method="post">
                                            <div class="d-flex align-items-center">
                                                <a href="{{ url_for('auth.login') }}" class="btn btn-primary center-block" role="button">
                                                    <img class="img-responsive" src="{{ url_for('static', filename='img/ms-aad1.png') }}" alt="Azure Active Directory">
                                                    Login via Azure
                                                </a>
                                                {% if allow_local %}
                                                <a href="{{ url_for('local_auth.login') }}" class="btn btn-primary center-block" role="button">
                                                    <img class="img-responsive" src="{{ url_for('static', filename='img/mp_3_icon_40.png') }}" width="20" height="20" alt="Local MacPatch">
                                                    Login via MacPatch
                                                </a>
                                                {% endif %}
                                            </div>
                                            
                                        </form>
                                    </div>
                                    <div class="panel-footer text-center">
                                        
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <a href="{{ url_for('agent.clientDownload') }}">
                                            <h6>Client Download</h6>
                                        </a>
										{% with messages = get_flashed_messages()%}
                                            {% if messages%}
                                                {% for message in messages%}
                                                    <p>{{message}}</p>
                                                {%endfor%}
                                            {%endif%}
                                        {%endwith%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <!-- <div class="text-muted">Copyright &copy; Your Website 2021</div> 
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                            -->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- Bootstrap Core JavaScript -->
    	<script src="{{ url_for('static', filename='bootstrap-5.1.3/js/bootstrap.bundle.min.js') }}"></script>
        <!-- <cript src="js/scripts.js"></cript> -->
    </body>
</html>
