{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
MacPatch Servers
{%  endblock %}

{% block bodyPanel %}
	<table id="table" data-toolbar="#toolbar" class="table table-condensed table-striped" data-show-export="true">
		<div id="toolbar">
			<button id="addButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
			<button id="delButton" type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
		</div>
	</table>
{% endblock %}


{% block javascript %}
	{{ super() }}
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='yarn_components/colresizable/colResizable-1.6.min.js') }}"></script>
	<script>
	$( document ).ready(function()
	{
		$('#table').bootstrapTable(
		{
			ajax: function loadMyRows(params)
			{
				if (params.data.search == '') {
					params.data.search = undefined;
				}
				var _url = "/console/servers/mp/list";
				$.ajax({
					type: 'GET',
					url: _url,
					cache: false,
					dataType: 'json',
					success: function(res)
					{
						params.success({
							total: res.total,
							rows: res.data
						});
					}
				});
			},
			search: false,
			pageSize: 20,
			pageList: [5, 10, 20, 50, 100, 200],
			pagination: true,
			queryParamsType: "limit",
			sidePagination: "server",
			showRefresh: true,
			columns: [
				{
					field: 'rowState',
					checkbox: true,
					rowspan: 1,
					align: 'center',
					valign: 'middle'
				},
				{
					field: 'operate',
					title: '',
					align: 'center',
					events: operateEvents,
					formatter: operateFormatter
				},
				{% for col in columns %}
					{

						{% if col[2] == '0' %}
						visible: false,
						{% endif %}
						sortable: true,
						field: '{{col[0]}}',
						title: '{{col[1]}}'

					},
				{% endfor %}
			]
		});
	});

	function operateFormatter(value, row, index)
	{
	    var htmlData = [];
		htmlData.push('<div class="buttonGroup">');
		htmlData.push('<div class="buttonItem">');
        htmlData.push('<a class="edit" href="javascript:void(0)" title="Edit">');
        htmlData.push('<i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>');
        htmlData.push('</div>');
		htmlData.push('<i class="buttonSeperator"></i>');
		htmlData.push('<div class="buttonItem">');
        htmlData.push('<a class="dbConf" href="javascript:void(0)" title="Database Config">');
        htmlData.push('<i class="fa fa-database fa-lg" aria-hidden="true"></i></a>');
        htmlData.push('</div>');
		htmlData.push('<i class="buttonSeperator"></i>');
		htmlData.push('<div class="buttonItem">');
        htmlData.push('<a class="logA" href="javascript:void(0)" title="API Log">');
        htmlData.push('<i class="fa fa-file-text-o fa-lg" aria-hidden="true"> API</i></a>');
        htmlData.push('</div>');
		htmlData.push('<i class="buttonSeperator"></i>');
		htmlData.push('<div class="buttonItem">');
        htmlData.push('<a class="logC" href="javascript:void(0)" title="Console Log">');
        htmlData.push('<i class="fa fa-file-text-o fa-lg" aria-hidden="true"> Console</i></a>');
        htmlData.push('</div>');
		htmlData.push('</div>');
		return htmlData.join('');
	}

	var $_table = $('#table');

	window.operateEvents = {
		'click .edit': function (e, value, row, index)
		{
			$.get( "/console/servers/mp/" + row['rid']).done(function(data)
			{
			    resetModalWindow();
				$('#modalTitle').html('Edit MacPatch Server');
				$('#modalBody').html(data);
				$('#modalDialog').addClass("modal-mid");
				$('#modalBody').css({'height':'420px'});
				$('#modalDialog').modal('show');
				$('#modalSaveButton').show();

				$("#modalDialog").on("hidden.bs.modal", function () {
					$_table.bootstrapTable('refresh');
				});
			});
		},
        'click .dbConf': function (e, value, row, index)
		{
			$.get( "/console/servers/db/" + row['server'] + "/" + row['port'] ).done(function(data)
			{
			    resetModalWindow();
				$('#modalTitle').html('MacPatch Server DB Config - ' + row['server']);
				$('#modalBody').html(data);
				$('#modalDialog').addClass("modal-mid");
				$('#modalBody').css({'height':'420px'});
				$('#modalFooter').hide();
				$('#modalDialog').modal('show');
				$('#modalSaveButton').hide();
			});
		},
		'click .logA': function (e, value, row, index)
		{
			$.get( "/console/server/log/"+row['server']+"/mpwsapi").done(function(data)
			{
			    resetModalWindow();
				$('#modalTitle').html(row['server'] + ' - API Log');
				$('#modalBody').html(data);
				$('#modalBody').css({'height':'90vh'});
			    $('#modalDialog').addClass("modal-wide");
			    $('#modalFooter').hide();
				$('#modalDialog').modal('show');
                $('#modalSaveButton').hide();
			});
		},
		'click .logC': function (e, value, row, index)
		{
			$.get( "/console/server/log/"+row['server']+"/mpconsole").done(function(data)
			{
			    resetModalWindow();
				$('#modalTitle').html(row['server'] + ' - Console Log');
				$('#modalBody').html(data);
				$('#modalBody').css({'height':'90vh'});
			    $('#modalDialog').addClass("modal-wide");
			    $('#modalFooter').hide();
				$('#modalDialog').modal('show');
                $('#modalSaveButton').hide();
			});
		},
		'click .description': function (e, value, row, index) {
			alert('You click description action, row: ' + JSON.stringify(row));
		}
	};

	var $_delPluginButton = $('#delButton'), $_addPluginButton = $('#addButton');
	$(function () {
		$_delPluginButton.click(function ()
		{
			var rows = $('#table').bootstrapTable('getAllSelections');
			var rowsArr = [];
			for (x in rows) {
				var _rid = rows[x]['rid'];
				rowsArr.push(_rid);
			}

			if (confirm("Are you sure you want to remove these servers?") == true)
			{
				var _url = "/console/servers/mp/update";
				$.ajax({
					url: _url,
					type: 'DELETE',
					cache: false,
					data: {'rid':rowsArr.toString()},
					error: function (request, status, error)
					{
						jsonValue = jQuery.parseJSON( request.responseText );
						alert(jsonValue.errormsg);
					},
					success: function () {
						alert("Server(s) removed successfully.");
						$_table.bootstrapTable('refresh');
					}
				});
			}
		});

		$_addPluginButton.click(function ()
		{
			$.get( "/console/servers/mp/0").done(function(data)
			{
			    resetModalWindow();
				$('#modalTitle').html('Add MacPatch Server');
				$('#modalBody').html(data);
				$('#modalDialog').addClass("modal-mid");
				$('#modalBody').css({'height':'420px'});
				$('#modalDialog').modal('show');

				$("#modalDialog").on("hidden.bs.modal", function () {
					$_table.bootstrapTable('refresh');
				});
			});
		});
	});
	</script>
{% endblock %}
