{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet">
{%  endblock %}

{% block pageHeader %}
	Provisioning - UI Config
{%  endblock %}

{% block bodyPanel %}

	<form role="form" id="settingsForm">
		<div class="form-group">
			<div class="well">
				<div class="row">
				<div class="col-md-10">
					<div class="row row-grid top10">
						<div class="col-md-2">
							<label>Upload Provisioning UI Config</label>
						</div>
						<div class="col-md-8">
      						<div class="input-group">
        						<input type="file" id="configFile" name="configFile" style="display: none">
        						<input type="text" class="form-control" id="configFakeFile1" readonly>
        						<span class="input-group-btn">
                    				<button class="btn btn-default" type="button" id="configFakeBrowseFile1">Browse...</button>
                				</span>
      						</div>
						</div>
						<div class="col-md-2">(UI Config JSON File)</div>
					</div>

					<div class="row row-grid top10">
						<div class="col-md-2"></div>
						<div class="col-md-8" align="right">
							<button type="button" class="btn btn-primary" id="settingsSaveButton">Upload Config</button>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="well">
			<div class="row">
				<div class="col-md-10">
					<label>Provisioning UI Config Text</label>
				</div>
				<!--
				<div class="col-md-2" align="right">
					<button id="confButton" class="btn btn-default">
						<span class="glyphicon glyphicon-save"></span> Download Config
					</button>
				</div>
				-->
			</div>
			<div class="row">
				<div class="col-md-10">
					<textarea id="uiConfigData" cols="120" rows="25">{{data.script or ''}}</textarea>
				</div>
			</div>
		</div>
	</form>

{% endblock %}


{% block javascript %}
	{{ super() }}
	<script>
		$( document ).ready(function()
		{
			$("#settingsSaveButton").click(function() {
				var formData = new FormData();
				formData.append('file', $('#configFile')[0].files[0]);

				$.ajax({
					url: '/provision/ui/config/upload',
					type: 'POST',
					data: formData,
					processData: false,  // tell jQuery not to process the data
					contentType: false,  // tell jQuery not to set contentType
					error: function (request, status, error)
					{
						jsonValue = jQuery.parseJSON( request.responseText );
						alert(jsonValue.errormsg);
					},
					success: function (data) {
						alert("Config file has been uploaded.");
					}
				});
			});

			document.getElementById('configFile')
				.addEventListener('change', function() {

				var fr=new FileReader();
				fr.onload=function(){
					document.getElementById('uiConfigData').textContent=fr.result;
				}

				fr.readAsText(this.files[0]);
			})


			$('#configFakeBrowseFile1, #configFakeFile1').on('click', function() {
				$('#configFile').trigger("click");
			});
			$('#configFile').change(function() {
			  var file_name = this.value.replace(/\\/g, '/').replace(/.*\//, '');
			  $('#configFakeFile1').val(file_name);
			});

		});
	</script>
{% endblock %}
