[Unit]
Description=MacPatch Tomcat Proxy Service
After=syslog.target network.target

[Service]
Type=forking

ExecStart=/Library/MacPatch/Server/tomcat-mpproxy/bin/startup.sh
ExecStop=/Library/MacPatch/Server/tomcat-mpproxy/bin/shutdown.sh

User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target