<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>gov.llnl.mploader</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/MacPatch/Server/conf/scripts/MPSUSPatchSync.py</string>
		<string>--plist</string>
		<string>/Library/MacPatch/Server/conf/etc/gov.llnl.mp.patchloader.plist</string>
	</array>
	<key>StartInterval</key>
	<integer>28800</integer>
	<key>ServiceDescription</key>
	<string>MacPatch Apple Patches Downloader</string>
	<key>StandardOutPath</key>
	<string>/Library/MacPatch/Server/Logs/mpPatchLoader_stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/MacPatch/Server/Logs/mpPatchLoader_stderr.log</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
