<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>gov.llnl.mp.invd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/MacPatch/Server/bin/MPInventoryD</string>
		<string>-c</string>
		<string>/Library/MacPatch/Server/conf/etc/siteconfig.xml</string>
		<string>-f</string>
		<string>/Library/MacPatch/Server/jetty-mpwsl/InvData/Files</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>_appserver</string>
	<key>ServiceDescription</key>
	<string>MacPatch Inventory Processor</string>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
</dict>
</plist>
