<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebService</key>
	<string>MPWSController.cfc</string>
	<key>WebServiceHost</key>
	<string>mpprod01.llnl.gov</string>
	<key>WebServicePort</key>
	<string>2601</string>
	<key>Catalogs</key>
	<array>
		<dict>
			<key>OS</key>
			<string>10.5</string>
			<key>SUCatalogURL</key>
			<string>http://softwareupdate02.llnl.gov:8088/index-leopard-snowleopard.merged-1.sucatalog</string>
		</dict>
		<dict>
			<key>OS</key>
			<string>10.6</string>
			<key>SUCatalogURL</key>
			<string>http://softwareupdate02.llnl.gov:8088/index-leopard-snowleopard.merged-1.sucatalog</string>
		</dict>
		<dict>
			<key>OS</key>
			<string>10.7</string>
			<key>SUCatalogURL</key>
			<string>http://softwareupdate02.llnl.gov:8088/index-leopard-snowleopard.merged-1.sucatalog</string>
		</dict>
	</array>
</dict>
</plist>
