<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacPatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>724EE90D1698A31A007FD391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F18132214A298A8001EC493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F18138A14A29FC4001EC493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F4B1DE216DD1BC600E15A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FEA3E6D1649723800103E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FEA3EE31649726400103E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FEA3F7116497A3600103E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
