<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocalCatalogURLBase</key>
	<string>http://localhost</string>
	<key>UpdatesMetadataDir</key>
	<string>/Library/MacPatch/Reposado/Content/metadata</string>
	<key>UpdatesRootDir</key>
	<string>/Library/MacPatch/Reposado/Content/html</string>
    <key>RepoSyncLogFile</key>
    <string>/Library/MacPatch/Reposado/Logs/reposado_sync.log</string>
	<key>AppleCatalogURLs</key>
	<array>
    	<string>http://swscan.apple.com/content/catalogs/index.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/index-1.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/others/index-leopard.merged-1.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/others/index-leopard-snowleopard.merged-1.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/others/index-lion-snowleopard-leopard.merged-1.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/others/index-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/others/index-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/others/index-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
    	<string>http://swscan.apple.com/content/catalogs/others/index-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
	</array>
	<key>PreferredLocalizations</key>
    <array>
    <string>English</string>
    <string>en</string>
    </array>
</dict>
</plist>
