/* - - - - - - CSS Document - - - - - - - - -
Title : SmartWizard
Author : http://tech-laboratory.blogspot.com
Version: 0.98 
- - - - - - - - - - - - - - - - - - - - - */
/*
  body {font : normal 12px Verdana, Arial, Helvetica, sans-serif;
      *font-size:small;
      **font:x-small;
      color:#0464BB; 
      margin:0;
      padding:0;      }
*/
.wizardTitle {
	font : bold 16px Verdana, Arial, Helvetica, sans-serif;
}

 .wiz-container{
	  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
      margin:0;
      padding:0;
	  min-width:980px;
      width: 100%!important;
      height: 600px;
      left:0%;
      right:0%;
      top:20px;
      margin:1px;
      background:#F8F8F8;
      overflow:hidden;
      position:relative;
      border:#E0E0E0 solid 1px;
      padding:0;   /*12px 0px 2px 5px;*/    
      color:#0464BB;
      text-align:left;
      -moz-border-radius:8px;
      -webkit-border-radius: 8px;
      z-index:100;
	  overflow-x: hidden;
  }
  .wiz-container ul{
    margin:0;padding:0;
    list-style: none; 
    position: relative; 
    padding: 3px ; 
    display:block;
    background:#F8F8F8;
    /* height:72px; */
	height:54px;
    margin-left:3px;
    margin-right:3px;
    border-bottom: 1px solid #E0E0E0; 
  }
  .wiz-container ul li{ 
    margin:0;padding:0;
    position: relative; 
    float: left; 
    border-bottom-width: 0 !important; 
    margin: 0; 
    margin-right: 2px;
    padding: 0; }
  .wiz-container ul li a { 
    margin:0;
    padding:0;
    display:block;
    text-decoration: none;
    padding-left: 3px;
	/* height:71px; */
    height:50px;
    width:220px;
    color:#0464BB;
  }
  .wiz-container ul li a:hover {   
    color:#0464BB; 
  }
  .wiz-anc-default{
	/* Light Grey */
    background-color:#EBEBEB; 
    border:#E0E0E0 solid 1px; 
    -moz-border-radius-bottomright  : 25px;
    -moz-border-radius-topright     : 25px;
    -moz-border-radius-bottomleft   : 2px;
    -moz-border-radius-topleft      : 2px; 
    -webkit-border-top-left-radius  : 2px;
    -webkit-border-bottom-left-radius:2px;
    -webkit-border-top-right-radius :20px;
    -webkit-border-bottom-right-radius:20px;    
  }
  .wiz-anc-current{ 
    color:#FFF !important;
	/* Orange #EA8511 */
    background-color:#036;
    border:#036 solid 1px;
    -moz-border-radius-bottomright  : 25px;
    -moz-border-radius-topright     : 25px;
    -moz-border-radius-bottomleft   : 2px;
    -moz-border-radius-topleft      : 2px; 
    -webkit-border-top-left-radius  : 2px;
    -webkit-border-bottom-left-radius:2px;
    -webkit-border-top-right-radius :20px;
    -webkit-border-bottom-right-radius:20px;    
  }
  .wiz-anc-done{
    color:#FFF !important; 
	/* Blue #0464BB */
	/* Steel Blue #4682B4 */
    background-color:#4682B4;
    border:#4682B4 solid 1px;
    -moz-border-radius-bottomright  : 25px;
    -moz-border-radius-topright     : 25px;
    -moz-border-radius-bottomleft   : 2px;
    -moz-border-radius-topleft      : 2px; 
    -webkit-border-top-left-radius  : 2px;
    -webkit-border-bottom-left-radius:2px;
    -webkit-border-top-right-radius :20px;
    -webkit-border-bottom-right-radius:20px;
  }
  .wiz-anc-error{ /*wiz-anc-done */
    color:#CD0A0A  !important; 
    /*background-color:#FEF1EC ;*/
    border:#AE1000 solid 1px;
  }  
  .wiz-body{
    display:block; 
    background:transparent; 
    border-bottom: 0px solid #E0E0E0; 
    width:auto;
  }
  .wiz-body div.wiz-content {
    display:block; 
    position: relative;
    top:0px;
    left:0px;
    text-decoration: none; 
    padding: 3px;
    margin : 3px;
    border-bottom: 0px solid #E0E0E0; 
    height:520px;
    width:auto;
    overflow:auto;
  }
  .wiz-nav {
    display:block; 
    position: absolute;
    left:0px;
    bottom:0px;
    text-decoration: none; 
    padding: 2px 5px 2px 5px;
    background:#F8F8F8 ; 
    height:30px;
    //width:99%;
	width:100%;
    margin : 0px 0px 5px 0px;
    border: 0px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
  }
  .wiz-nav #next {
    float:right;
  }
  .wiz-nav #back{
    float:left;
  }
  .wiz-nav #done{
    margin-left:30%;
    float:left;
  }
  
  
  /* Button & Textbox Styles */
  h1, h3{
      margin:0;
      padding:0;
  }
  
  h3 {
      margin:0;
	  padding-bottom:6px;
	  padding-top:6px;
	  padding-left: 0px;
	  padding-right: 0px;
  }
  
  h2 {
	  font : bold 16px Verdana, Arial, Helvetica, sans-serif;
      margin:0;
	  padding-bottom:4px;
	  padding-top:4px;
	  padding-left: 0px;
	  padding-right: 0px;
  }
  
  .btn{
      width                 : 100px;
      -moz-border-radius    : 8px;
      -webkit-border-radius : 8px;
      background            : #5A5655;
      color                 : #FFFFFF;
      margin                : 2px 10px 0px 10px;
      padding               : 5px 5px 5px 5px;
      text-align            : center;
      border                : 1px solid #5A5655;    
      text-decoration       : none; 
  }
  .btn:hover{
	  /* Orange #EA8511 */
      background      : #4682B4;
      color           : #FFFFFF;
      border          : 1px solid #4682B4; 
      text-decoration : none; 
  }
  
  .wiz-body .text{ 
    border: 1px solid #E0E0E0; 
    width:300px;
    padding:4px;
	
  }  
  .wiz-body .text:focus{ 
    border: 1px solid #EA8511;
  } 
  .wiz-nav div.error{
    font : bold 12px Verdana, Arial, Helvetica, sans-serif;
    display:none;
    position:relative;
    left:30%;
    top:5px;
    width:400px; 
    padding: 5px 5px 5px 10px;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;  
    float:left;
    background:#FFE45C;
    border:1px solid #FED22F;
    color:#363636;    
  }
  
  /* End Button Styles */